
{% extends 'presale/_layout' %}

{% block main %}

{#   <input type="hidden" name="launch" id ="launch-date" value="{{ entry.presaleDate | date("M d, Y H:i:s") }}"> #}

  <!-- Banner Start-->
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          
          {% if entry.bannerImage | length %}

            {% set image = entry.bannerImage.one() %}

              <img src="https://tmharrypotter.objects.frb.io{{ image.getUrl() }}" width="100%" class="d-none d-md-block" />

          {% endif %}
          {% if entry.bannerImageMobile | length %}

            {% set Mimage = entry.bannerImageMobile.one() %}

              <img src="https://tmharrypotter.objects.frb.io{{ Mimage.getUrl() }}" class="d-block d-md-none"/>

          {% endif %}          
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End-->
  <div class="presales-block">
    <div class="container">
      <div class="presales-content">
        <div class="row" id="presale-ticket">
          <div class="col-lg-12 col-md-12 col-xs-12">
            
            {% set days_left_presale = craft.entries.section('editableBlocks').slug('days_left_presale').one() %}

            <h1>{{ days_left_presale.title }}</h1>
          </div>
          <div class="col-lg-9 col-md-9 col-xs-12">

            <div class="presales-inner-content">
                {{days_left_presale.description}}
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12 btn-block">
            <a href="{{ entry.registrationLink }}" target="_blank" id="register-btn" class="reg-btn">REGISTRIEREN</a>
          </div>
        </div>

        <div class="row" id="presale-ticket-code" style="display: none;">
          <div class="col-lg-6 col-md-6 col-xs-12">
            {% set presale_code_block = craft.entries.section('editableBlocks').slug('presale_code_block').one() %}
              {% set wrong_code_error_description_presale = craft.entries.section('editableBlocks').slug('wrong-code-error-description-presale').one() %}
            <h1>{{presale_code_block.title}}</h1>

            <input type="text" class="code-txt" id="code-txt" placeholder="7-Stelliger Code" value="" />
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="presales-inner-content">
              {% if presale_code_block.description %}
                <div class="code-info-content-true">{{ presale_code_block.description }}</div>
              {% endif %}
              {% if wrong_code_error_description_presale %}
                <div class="code-info-content-false" style="display:none;">{{wrong_code_error_description_presale.description}}</div>
              {% endif %}
              <div class="row mt-15">
                <div class="col-lg-6 col-md-6 col-xs-12 btn-block">
                  <input type="button" value="CODE ABSCHIKEN" id="code-btn" class="primary-reg-btn float-left">
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 btn-block">
                  <a href="{{ entry.registrationLink }}" target="_blank" id="register-btn1" class="reg-btn float-right">REGISTRIEREN</a>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Content Start-->
 {% set availableticketsBlock = craft.entries.section('editableBlocks').slug('verfügbare-tickets').one() %}
  <div class="content bgpattern">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-12">
          <!-- Start Mobile Version Block-->
          <div class="sidebar-block orange-block d-block d-sm-none">
            <h4>{{ availableticketsBlock.title|striptags }}</h4>
            {{ availableticketsBlock.description }}
          </div>
          <div class="content-block  d-block d-sm-none">
            {{ entry.scheduleTableForMobile}}
          </div>
          <!-- End Mobile Version Block-->
          <!-- Start Desktop Version Block-->
          <div class="content-block d-none d-sm-block">
          <div class="inner-content-block">
              <div class="row">
              {{ entry.columnBlock }}
              </div>
          </div>
          {{ entry.description }}

          <div style="display:none;">

            {% set homepagesections = craft.entries.section('homepage').all() %}
            {% for homepage_section in homepagesections %}

              {{ homepage_section.kombiTicketSection }}

            {% set kombiTitle = craft.entries.section('editableBlocks').slug('kombi-modal-title').one() %}
            {% set kombiDescription = craft.entries.section('editableBlocks').slug('kombi-modal-description').one() %}
            {% if kombiTitle.description %}
            <div id="kombimodaltitle" style="display:none;">{{ kombiTitle.description }}</div>
            {% endif %}
            {% if kombiDescription.description %}
            <div id="kombimodaldescription" style="display:none;">{{ kombiDescription.description }}</div>
            {% endif %}
            <div class="row">

             {{ homepage_section.individualTicketSection }}

            {% set individualTitle = craft.entries.section('editableBlocks').slug('individual-modal-title').one() %}
            {% set individualDescription = craft.entries.section('editableBlocks').slug('individual-modal-description').one() %}
             {% if individualTitle.description %}
            <div id="individualmodaltitle" style="display:none;">{{ individualTitle.description }}</div>
             {% endif %}
             {% if individualDescription.description %}
            <div id="individualmodaldescription" style="display:none;">{{ individualDescription.description }}</div>
             {% endif %}

            {{ homepage_section.singleTicketSection }}
            {% set singleTitle = craft.entries.section('editableBlocks').slug('single-modal-title').one() %}
            {% set singleDescription = craft.entries.section('editableBlocks').slug('single-modal-description').one() %}
              {% if singleTitle.description %}
            <div id="singlemodaltitle" style="display:none;">{{ singleTitle.description }}</div>
            {% endif %}
            {% if singleDescription.description %}
            <div id="singlemodaldescription" style="display:none;">{{ singleDescription.description }}</div>
            {% endif %}
            </div>
            {% endfor %}
         </div>

          </div>
          
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 no-mo-pd">
          <div class="sidebar">
            <div class="sidebar-block orange-block d-none d-sm-block">
            <h4>{{ availableticketsBlock.title|striptags }}</h4>
            {{ availableticketsBlock.description }}
            </div>
            <div class="sidebar-block chocolate-block no-mo-mr">

                {% set seatingplanBlock = craft.entries.section('editableBlocks').slug('saalplan').one() %}

              <h4>{{ seatingplanBlock.title }}</h4>
                {{ seatingplanBlock.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Ends-->
{% endblock %}