/* HTML Initial css */

html, body, ul, li, h1, h2, h3, h4, h5, h6, label, p, hr, table {
  margin: 0;
  padding: 0;
}

::-ms-clear {
  display: none;
}

ul {
  list-style: none;
  outline: none;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  border: 0;
  outline: none;
}

a img {
  outline: none;
  cursor: pointer;
}

button {
  border: 0;
  outline: none;
}

.nomr {
  margin: 0 !important;
}

.no-mrpd {
  margin: 0!important;
  padding: 0!important;
}

html, body {
  height: 100%;
}

/* .custom-container{
    width: 960px;
} */

/* Header Css */

.header {
  float: left;
  width: 100%;
  background: #4a2116;
  position: relative;
  height: 45px;
}

.header-menu {
  float: left;
  width: 100%;
  position: relative;
  text-align: right;
}

h4.logo {
  float: left;
  width: 100%;
  color: #ffffff;
  font-family: 'Gill Sans';
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  text-align: left;
  line-height: 45px;
}

img.logo {
  margin: 12px 0;
}

h6.head-title {
  display: inline-block;
  text-align: right;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 10px 0 10px 10px;
  line-height: 25px;
}

.lang-dropdown {
  background: transparent;
  border: 0;
  color: #ffffff;
  outline: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding-right: 15px;
  display: inline-block!important;
}

.lang-dropdown option {
  background: rgba(74, 33, 22, 1);
  color: #fff;
  border: 0;
  outline: 0;
}

/* Banner Css */

.banner {
  background: url("../images/hp_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: inline-block;
  width: 100%;
  float: left;
}

.banner img {
  text-align: center;
  margin: 20px 0;
  display: inline-block;
}

/* Content Css */

.content {
  padding: 60px 0;
}

.bgpattern {
  background: url("../images/hp_lightbg.png") no-repeat;
  /* background: -webkit-gradient(linear, top, from(#f8edc0), color-stop(0.25, #f8edc0), color-stop(0.5, #2F2727), color-stop(0.75, #fefde6), to(#c5ae9a));
  background: -webkit-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
  background: -moz-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
  background: -ms-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
  background: -o-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: inline-block;
  width: 100%;
  float: left;
  min-height: 800px;
}

.content-block {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.content-block h2.content-heading {
  color: #4a2116;
  font-size: 30px;
  font-family: 'crimsonbold';
  font-weight: normal;
  font-style: normal;
  margin-bottom: 15px;
}

.content-block p {
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #4a2116;
  line-height: 20px;
  margin-bottom: 20px;
}

.schedule-block {
  width: 100%;
  position: relative;
  display: table;
}

.schedule-row {
  display: table-row;
  position: relative;
  width: 100%;
}

.schedule-col {
  display: table-cell;
  position: relative;
  border-top: 6px solid #fef6d1;
  border-right: 6px solid #fef6d1;
}

.schedule-head {
  color: #7b6c45;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.schedule-data {
  background: #d8bf91;
  text-align: center;
  vertical-align: middle;
  padding: 8px 0;
}

.schedule-data span, .schedule-data label {
  width: 100%;
  display: inline-block;
  color: #4a2116;
}

.schedule-data span {
  text-transform: uppercase;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  float: left;
  width: 100%;
}

.schedule-data label {
  font-family: 'crimsonbold';
  font-weight: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  float: left;
  width: 100%;
}

.schedule-blank {
  background: #7b6c45;
}

.icon-amp {
  background: #fef6d1;
  border-radius: 50%;
  padding: 2px;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  font-size: 18px !important;
  position: absolute;
  z-index: 1;
}

.iabc {
  bottom: -12px;
  left: 43%;
}

.iarc {
  right: -12px;
  top: 30%;
}

.banner-block {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.modal-block {
  cursor: pointer;
}

.color1-bg {
  background: #4a2116;
}

.color2-bg {
  background-color: #222222;
}

.color3-bg {
  background-color: #7b6c45;
}

.banner-block h4 {
  width: 100%;
  position: relative;
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'crimsonbold';
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
}

.banner-block h4 img {
  margin-right: 15px;
}

.banner-block p, .popup-bar p.paratext, .popup-bar p.paratext a {
  color: #ffffff;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

.banner-block p {
  margin-bottom: 20px;
}

.banner-block a {
  border: 1px solid #ffffff;
  background: transparent;
  padding: 7px 20px;
  display: inline-block;
  color: #ffffff;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  width: 275px;
}

.sidebar {
  float: left;
  width: 100%;
  position: relative;
}

.sidebar-block {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px;
  margin-bottom: 15px;
  background: #ffffff;
}

.sidebar-block h4 {
  font-size: 20px;
  font-family: 'crimsonbold';
  font-weight: normal;
  font-style: normal;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  float: left;
}

.sidebar-block p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  position: relative;
  float: left;
}

.orange-block {
  color: #e76023;
  border: 1px solid #e76023;
}

.chocolate-block {
  color: #4a2116;
  border: 1px solid #4a2116;
}

.iframe-img {
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

/* Footer Css */

.footer {
  background: url("../images/footer_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 50px 0;
  float: left;
}

.logo-hp {
  width: 100%;
  margin-bottom: 30px;
}

.logo-wizard {
  float: left;
  width: 33%;
}

.logo-mehr {
  float: right;
  width: 50%;
}

.footer-menu {
  float: left;
  width: 90%;
  position: relative;
  list-style: none;
  margin-left: 50px;
}

.footer-menu li {
  float: left;
  width: 100%;
  color: #d3ba8d;
  line-height: 26px;
}

.copyright {
  height: 100%;
  position: relative;
  float: left;
}

.footer-menu li a, .copyright p {
  color: #d3ba8d;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}

.footer-menu li a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.copyright p {
  letter-spacing: .5px;
}

.para-bottom {
  position: absolute;
  bottom: 0;
}

.bottom-footer {
  float: left;
  width: 100%;
  position: relative;
  background: #7b6c45;
  padding: 6px 0;
}

.bottom-footer p {
  color: #d3ba8d;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
}

.popup-bar {
  float: left;
  width: 100%;
  position: absolute;
  background: rgba(133, 115, 67, 0.9);
  top: 45px;
  z-index: 1;
}

.popup-bar .paratext {
  padding: 20px 0;
  letter-spacing: 0.7px;
}

.popup-bar .mdfybtn {
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: 'Gill Sans';
  font-weight: 500;
  font-style: normal;
}

.popup-bar p.paratext a {
  text-decoration: underline;
}

/* Custom Modal Css */

.custom-modal {
  height: 100%;
  padding: 0!important;
  margin: 0;
}

.custom-modal .modal-dialog {
  width: 100%;
  margin: 0;
  height: 100%;
  max-width: 100%;
}

.custom-modal .modal-content {
  min-height: 100%;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;
  float: left;
  width: 100%;
}

.custom-modal .modal-body {
  padding: 0;
}

.sidebar-img {
  float: left;
  width: 31%;
  position: relative;
}

.sidebar-img img {
  width: 100%;
}

.modal-right-block {
  float: left;
  width: 69%;
}

.modal-right-block .modal-header {
  background: #4a2116;
  border-bottom: 0;
  padding: 20px 50px 20px 20px;
  border-radius: 0;
}

.modal-right-block .modal-header h4 {
  color: #ffffff;
}

.close-btn, .close-btn:hover {
  opacity: 1;
  text-shadow: none;
  outline: 0;
  border: 0;
}

.modal-right-block h4.modal-title {
  font-family: 'crimsonsemibold';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  display: block;
  line-height: 25px;
}

.modal-right-block h4.modal-title span {
  font-size: 16px;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  display: block;
}

.modal-body-content {
  width: 100%;
  float: left;
  position: relative;
  padding: 20px;
}

.modal-para-text {
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #4a2116;
}

.modal-para-text a {
  color: #e76023;
  text-decoration: none;
}

.modal-calander {
  float: left;
  width: 100%;
  position: relative;
}

.cal-heading {
  float: left;
  width: 100%;
  position: relative;
  margin: 30px 0;
}

.cal-sign-icons {
  float: right;
  position: relative;
}

.cal-sign-icons li {
  display: inline-block;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin-left: 15px;
}

.circle-icon {
  height: 10px;
  width: 10px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin-right: 5px;
  top: 1px;
}

.green-crcl {
  background: #7ed321;
}

.yellow-crcl {
  background: #f5a623;
}

.red-crcl {
  background: #d0021b;
}

.cal-table {
  display: table;
  position: relative;
  float: left;
  width: 100%;
}

.cal-table .cal-row {
  display: table-row;
}

.cal-table .cal-row .cal-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #4a2116;
  border-bottom: 1px solid #4a2116;
  position: relative;
}

.cal-table .cal-row .cal-head {
  padding: 1% 2%;
}

.cal-table .cal-row .cal-data {
  padding: 1% 2%;
}

.cal-table .cal-row .cal-cell:first-child {
  border-left: 0;
}

p.cal-text {
  font-family: 'crimsonbold';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  color: #4a2116;
  cursor: pointer;
}

p.cal-text span {
  width: 100%;
  display: block;
  text-transform: none;
  font-size: 14px;
  font-family: 'Gill Sans';
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 18px;
}

.cell-combine {
  position: absolute;
  top: 10px;
  width: 173%;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  z-index: 2;
}

.not-available {
  color: #c8bcb9!important;
}

.ticet-iframe-head {
  width: 100%;
  margin: 0;
  float: left;
  position: relative;
  list-style: none;
  background: #7b6c45;
  padding: 7px 20px;
}

.ticet-iframe-head li, a.iframe-back {
  color: #ffffff;
  
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
}

.ticet-iframe-head li {
  display: inline-block;
  margin-right: 40px;
  font-size: 18px;
}

a.iframe-back {
  text-transform: uppercase;
  font-size: 14px;
}

/* Custom Media Query */

@media (min-width: 1200px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (max-width: 414px) {
  .no-mo-pd {
    padding: 0!important;
  }
  .no-mo-mr {
    margin: 0!important;
  }
  img.logo {
    width: 97%;
  }
  h6.head-title {
    font-size: 12px;
    margin-left: 0;
  }
  .banner img {
    margin: 20px;
    width: 90%;
  }
  .lang-dropdown {
    display: none!important;
  }
  .content {
    padding: 15px 0 0 0;
  }
  .sidebar-block {
    padding: 20px;
  }
  .sidebar-block h4 {
    margin-bottom: 5px;
  }
  .sidebar-block p {
    line-height: 17px;
  }
  .content-block {
    margin-bottom: 15px;
  }
  .banner-block {
    margin-bottom: 0;
    padding: 20px 15px;
  }
  .banner-block .h458 {
    width: 58%;
  }
  .banner-block .h430 {
    width: 30%;
  }
  .banner-block p {
    font-size: 14px;
  }
  .banner-block a {
    width: 100%;
    padding: 7px 10px;
    font-size: 10px;
  }
  .mo-mb-39 {
    margin-bottom: 39px!important;
  }
  .chocolate-block {
    border: 0;
  }
  .footer {
    padding: 40px 0;
  }
  .footer-logo-block {
    text-align: center;
  }
  .logo-hp {
    width: 35%;
    float: left;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .logo-wizard {
    float: none;
    width: 17%;
  }
  .logo-mehr {
    width: 24%;
  }
  .footer-menu {
    width: 100%;
    margin: 30px 0;
  }
  .footer-menu li {
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
  .para-bottom {
    position: relative;
  }
  .bottom-footer p {
    width: 75%;
  }
  .schedule-block {
    margin-bottom: 20px;
  }
  .iabc {
    bottom: 13px;
    right: -8%;
    left: unset;
  }
  .iarc {
    right: 45%;
    bottom: -12px;
    top: unset;
  }
  .popup-bar .mdfybtn {
    padding: 20px;
  }
  .popup-bar .paratext {
    text-align: center;
  }
}

@media (max-width: 320px) {
  h6.head-title {
    font-size: 11px;
    line-height: 18px;
  }
  .header {
    height: auto;
  }
}

/* Rebbon css */

.ribbon {
  width: 175px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #e76023;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 6px 0;
  background-color: #e76023;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font-family: 'Gill Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

/* top left*/

.ribbon-top-left {
  top: 0;
  left: 0;
}

.ribbon-top-left::before, .ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: 4px;
  top: 35px;
  transform: rotate(-38deg);
}

/* Border Gradient */

.top-to-bottom {
  border-right: 1px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, top, from(rba(0, 0, 0, 0)), color-stop(0.25, #ffffff), color-stop(0.5, #ffffff), color-stop(0.75, #ffffff), to(rgba(0, 0, 0, 0)));
  -webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
}