<!doctype html>
<html lang="en">

<head>


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="lib/bootstrap-4.0.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/public/app/css/style.css">
  <title>Harry Potter</title>
</head>

<body>
  <!-- Header Start -->
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-5">
          <a href="/en">
            <img src="/public/app/images/logo.png" class="logo" />
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-7">
          <div class="header-menu">
            <div class="dropdown lang-dropdown d-none d-sm-block">
            {% set locale = craft.app.locale %}
              <button class="dropbtn">{{ locale.getDisplayName }}</button>
              <div class="dropdown-content">
                <a href="/">Deutsch</a> 
              </div>
            </div>
            <h6 class="head-title top-to-bottom ">Hamburg, Germany</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->

{% block main %}

{% endblock %}

  <!-- Footer Start-->
  <div class="footer">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
          <div class="footer-logo-block">
            {% set footerLogo = craft.entries.section('editableBlocks').slug('footer-logo-block-english').one() %}
            {{ footerLogo.description}}
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 col-12">
          <ul class="footer-menu">
          	{{ craft.olivemenus.getMenuHTML('footerMenuEnglish') }}
            <li><a href="/en">English</a> / <a href="/">Deutsch</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="copyright">
          	{% set trademarksText = craft.entries.section('editableBlocks').slug('trademarks-text-english').one() %}
            {{ trademarksText.description}}
          	
          	{% set managedbyText = craft.entries.section('editableBlocks').slug('website-managed-by-text-english').one() %}
				 
            <div class="para-bottom">{{ managedbyText.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
          <p class="bottom-copyright">
          	{% set copyrightText = craft.entries.section('editableBlocks').slug('footer-copyright-text-english').one() %}
				 {{ copyrightText.description|striptags }}

          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Start-->
  <!-- Modal Start-->
  <div class="modal custom-modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->
        <!-- Modal body -->
        <div class="modal-body">
          <div class="sidebar-img d-none d-lg-block">
            <img src="/public/app/images/slidebarbg.png" />
          </div>
          <div class="modal-right-block">
            <div class="modal-header">
              <h4 class="modal-title">Kombi Ticket<span class="d-none d-sm-block">Lorem Ipsum is simply dummy text of
                  the printing</span></h4>
              <button type="button" class="close close-btn" data-dismiss="modal"><img src="/public/app/images/close-icon.png"
                  class="d-none d-sm-block" /><img src="/public/app/images/close.png" class="d-sm-none d-block" /></button>
            </div>
            <div class="modal-body-content" id="cal-block">
              <p class="modal-para-text">Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy
                text of the printing Lorem Ipsum is simply dummy text of <a href="">the printing</a></p>
              <div class="modal-calander">
                <div class="cal-heading">
                  <div class="dropdown months-dropdown top-to-bottom">
                    <button class="dropbtn"  type="button" data-toggle="dropdown">Oktober 2020<div class="arrow-down"></div></button>
                    <div class="dropdown-menu dropdown-content">
                      <!--<a href="#">Oktober 2020</a>-->
                      <a href="#">November 2020</a>
                      <a href="#">Dezember 2020</a>
                      <a href="#">Januar 2021</a>
                      <a href="#">Februar 2021</a>
                      <a href="#">Marz 2021</a>
                      <a href="#">April 2021</a>
                    </div>
                  </div>
                  
                  <ul class="cal-sign-icons d-none d-sm-block">
                    <li><i class="circle-icon green-crcl"></i>gute Verfugbarkeit</li>
                    <li><i class="circle-icon yellow-crcl"></i>grobe Nachfrage</li>
                    <li><i class="circle-icon red-crcl"></i>ausverkauft</li>
                  </ul>
                </div>
                <!-- Desktop Calander Module Start -->
                <div class="cal-table d-none d-sm-block">
                  <div class="cal-row">
                    <div class="cal-cell cal-head" style="width:12.2%">
                      Montag
                    </div>
                    <div class="cal-cell cal-head" style="width:12.2%">
                      Dienstag
                    </div>
                    <div class="cal-cell cal-head" style="width:12.2%">
                      Mittwoch
                    </div>
                    <div class="cal-cell cal-head" style="width:12.2%">
                      Donnerstag
                    </div>
                    <div class="cal-cell cal-head" style="width:12.2%">
                      Freitag
                    </div>
                    <div class="cal-cell cal-head" style="width:12.2%">
                      Samstag
                    </div>
                    <div class="cal-cell cal-head" style="width:12.2%">
                      Sonntag
                    </div>
                  </div>
                  <div class="cal-row">
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data">
                    </div>
                    <div class="cal-cell cal-data">
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text not-available"><i class="circle-icon red-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>5. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>6. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="cal-row">
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                      <p class="cal-text"><i class="circle-icon yellow-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>9. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text cell-combine"><i class="circle-icon yellow-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>10. Oktober
                          14:30 + 19:30 Uhr
                        </span>
                        <span>11. Oktober
                          14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text not-available"><i class="circle-icon red-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>12. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>13. Oktober<br />14:00 + 19:00 Uhr
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="cal-row">
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>16. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text cell-combine not-available"><i class="circle-icon red-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>17. Oktober
                          14:30 + 19:30 Uhr
                        </span>
                        <span>18. Oktober
                          14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text not-available"><i class="circle-icon red-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>19. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text"><i class="circle-icon yellow-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>20. Oktober<br />14:00 + 19:00 Uhr
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="cal-row">
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>23. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text cell-combine" id="cal-bookticket"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>24. Oktober
                          14:30 + 19:30 Uhr
                        </span>
                        <span>25. Oktober
                          14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text not-available"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>26. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text"><i class="circle-icon yellow-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>27. Oktober<br />14:00 + 19:00 Uhr
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="cal-row">
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                    </div>
                    <div class="cal-cell cal-data ">
                      <p class="cal-text not-available"><i class="circle-icon red-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>30. Oktober<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>31. Oktober
                          14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>1. November<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>2. November<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="cal-cell cal-data">
                      <p class="cal-text"><i class="circle-icon yellow-crcl"></i>
                        Teil Eins + Teil Zwei
                        <span>3. November<br />14:00 + 19:00 Uhr
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Desktop Calander Module End -->
                <!-- Mobile Calander Module Start -->
                <div class="mob-cal-table d-sm-none">
                  <div class="mob-cal-row cal-bookticket">
                    <div class="mob-cal-cell" style="width: 55%;">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        <span>Mi 5.10<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 43%;">
                      <p class="cal-text text-right">
                        Teil Eins + Teil Zwei
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 2%;">
                      <img src="/public/app/images/back.png">
                    </div>
                  </div>
                  <div class="mob-cal-row">
                    <div class="mob-cal-cell" style="width: 55%;">
                      <p class="cal-text"><i class="circle-icon yellow-crcl"></i>
                        <span>Do 06.10.19:30 Uhr<br />
                          Fr 07.10.19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 43%;">
                      <p class="cal-text text-right">
                        Teil Eins <br /> Teil Zwei
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 2%;">
                      <img src="/public/app/images/back.png">
                    </div>
                  </div>
                  <div class="mob-cal-row">
                    <div class="mob-cal-cell" style="width: 55%;">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        <span>So 09.10<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 43%;">
                      <p class="cal-text text-right">
                        Teil Eins + Teil Zwei
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 2%;">
                      <img src="/public/app/images/back.png">
                    </div>
                  </div>
                  <div class="mob-cal-row">
                    <div class="mob-cal-cell" style="width: 55%;">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        <span>Mi 12.10<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 43%;">
                      <p class="cal-text text-right">
                        Teil Eins + Teil Zwei
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 2%;">
                      <img src="/public/app/images/back.png">
                    </div>
                  </div>
                  <div class="mob-cal-row">
                    <div class="mob-cal-cell" style="width: 55%;">
                      <p class="cal-text"><i class="circle-icon yellow-crcl"></i>
                        <span>So 16.10<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 43%;">
                      <p class="cal-text text-right">
                        Teil Eins + Teil Zwei
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 2%;">
                      <img src="/public/app/images/back.png">
                    </div>
                  </div>
                  <div class="mob-cal-row">
                    <div class="mob-cal-cell" style="width: 55%;">
                      <p class="cal-text"><i class="circle-icon green-crcl"></i>
                        <span>Mi 19.10<br />14:30 + 19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 43%;">
                      <p class="cal-text text-right">
                        Teil Eins + Teil Zwei
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 2%;">
                      <img src="/public/app/images/back.png">
                    </div>
                  </div>
                  <div class="mob-cal-row">
                    <div class="mob-cal-cell" style="width: 55%;">
                      <p class="cal-text"><i class="circle-icon yellow-crcl"></i>
                        <span>Do 20.10.19:30 Uhr<br />
                          Fr 21.10.19:30 Uhr
                        </span>
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 43%;">
                      <p class="cal-text text-right">
                        Teil Eins <br /> Teil Zwei
                      </p>
                    </div>
                    <div class="mob-cal-cell" style="width: 2%;">
                      <img src="/public/app/images/back.png">
                    </div>
                  </div>
                </div>
                <!-- Mobile Calander Module Start -->
              </div>
            </div>
            <!--Start Iframe for Booking System -->
            <div class="ticket-iframe" id="ticket-iframe">
              <ul class="ticet-iframe-head">
                <li class="d-none d-sm-inline">Donnerstag, 6. Oktober und Freitag 7, Oktober</li>
                <li class="d-inline d-sm-none">Do 06.10 und Fr 0710</li>
                <li><a href="javascript:void(0)" class="iframe-back">Datum Andern</a></li>
              </ul>
              <img class="d-none d-sm-block" src="/public/app/images/iframe-img.png" />
              <img class="d-block d-sm-none" src="/public/app/images/Mobile-Tickets-Kombi.png" />
              <ul class="ticet-iframe-head">
                <li class="d-none d-sm-inline">Donnerstag, 6. Oktober und Freitag 7, Oktober</li>
                <li class="d-inline d-sm-none">Do 06.10 und Fr 0710</li>
                <li><a href="javascript:void(0)" class="iframe-back">Datum Andern</a></li>
              </ul>
            </div>
            <!--End Iframe for Booking System -->
          </div>
        </div>
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
      </div>
    </div>
  </div>
  <!-- Modal End-->
  <!-- Optional JavaScript -->
  <script src="/public/app/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/public/app/js/popper.min.js"></script>
  <script src="/public/app/js/bootstrap.min.js"></script>
  <script src="/public/app/js/main.js"></script>
</body>

</html>