
{% extends 'en/_layout' %}

{% block main %}

  <!-- Banner Start-->
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          
          {% if entry.bannerImage | length %}

            {% set image = entry.bannerImage.one() %}

              <img src="{{ image.getUrl() }}" width="100%" class="d-none d-md-block" />

          {% endif %}
          {% if entry.bannerImageMobile | length %}

            {% set Mimage = entry.bannerImageMobile.one() %}

              <img src="{{ Mimage.getUrl() }}" class="d-block d-md-none"/>

          {% endif %}          
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End-->
  <!-- Content Start-->
 {% set availableticketsBlock = craft.entries.section('editableBlocks').slug('available-tickets').one() %}
  <div class="content bgpattern">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-12">
          <!-- Start Mobile Version Block-->
          <div class="sidebar-block orange-block d-block d-sm-none">
            
            <h4>{{ availableticketsBlock.title|striptags }}</h4>
            {{ availableticketsBlock.description }}
          </div>
          <div class="content-block  d-block d-sm-none">
            <h2 class="content-heading">Tickets</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
              into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
              release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            <div class="schedule-block">
              <div class="schedule-row">
                <div class="schedule-col schedule-head">
                  Mi
                </div>
                <div class="schedule-col schedule-data">
                  <span>Teil Eins</span>
                  <label>14.30 Uhr</label>
                  <label class="icon-amp iabc">&</label>
                </div>
                <div class="schedule-col schedule-data">
                  <span>Teil Zwei</span>
                  <label>19.30 Uhr</label>
                </div>
              </div>
              <div class="schedule-row">
                <div class="schedule-col schedule-head">
                  Do
                </div>
                <div class="schedule-col schedule-data schedule-blank">
                  <span>&nbsp;</span>
                  <label>&nbsp;</label>
                </div>
                <div class="schedule-col schedule-data">
                  <span>Teil Zwei</span>
                  <label>19.30 Uhr</label>
                  <label class="icon-amp iarc">&</label>
                </div>
              </div>
              <div class="schedule-row">
                <div class="schedule-col schedule-head">
                  Fr
                </div>
                <div class="schedule-col schedule-data schedule-blank">
                  <span>&nbsp;</span>
                  <label>&nbsp;</label>
                </div>
                <div class="schedule-col schedule-data">
                  <span>Teil Zwei</span>
                  <label>19.30 Uhr</label>
                </div>
              </div>
              <div class="schedule-row">
                <div class="schedule-col schedule-head">
                  Sa
                </div>
                <div class="schedule-col schedule-data">
                  <span>Teil Eins</span>
                  <label>14.30 Uhr</label>
                  <label class="icon-amp iabc">&</label>
                </div>
                <div class="schedule-col schedule-data">
                  <span>Teil Zwei</span>
                  <label>19.30 Uhr</label>
                </div>
              </div>
              <div class="schedule-row">
                <div class="schedule-col schedule-head">
                  So
                </div>
                <div class="schedule-col schedule-data">
                  <span>Teil Eins</span>
                  <label>14.30 Uhr</label>
                  <label class="icon-amp iabc">&</label>
                </div>
                <div class="schedule-col schedule-data">
                  <span>Teil Zwei</span>
                  <label>19.30 Uhr</label>
                </div>
              </div>
            </div>
          </div>
          <!-- End Mobile Version Block-->
          <!-- Start Desktop Version Block-->
           {{ entry.description}}
          <!-- Start Desktop Version Block-->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 no-mo-pd">
          <div class="sidebar">
            <div class="sidebar-block orange-block d-none d-sm-block">
            <h4>{{ availableticketsBlock.title|striptags }}</h4>
            {{ availableticketsBlock.description }}
            </div>
            <div class="sidebar-block chocolate-block no-mo-mr">

                {% set seatingplanBlock = craft.entries.section('editableBlocks').slug('seating-plan').one() %}

              <h4>{{ seatingplanBlock.title }}</h4>
                {{ seatingplanBlock.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Ends-->
{% endblock %}