{% extends 'en/_layout' %}

{% block main %}

  <!-- Content Start-->
  <div class="content bgpattern">
    <div class="container custom-container static-page">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <a href="/en" class="back-link">
            &lt;&lt;&nbsp;&nbsp;&nbsp;Zuruck nach Hause</a> </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <!-- Start Desktop Version Block-->
          <div class="content-block">
            <h2 class="content-heading">{{ entry.title }}</h2>
            <div class="content-description">{{ entry.description }}</div>

          </div>
          <!-- Start Desktop Version Block-->

        </div>

      </div>
    </div>
  </div>
  <!-- Content End-->


{% endblock %}