@import '_variables';
@import '_mixins';

.banner {
  @include set-position-relative;
  background: url(#{$imgpath}/hp_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;

  img {
    text-align: center;
    margin: 20px 0;
    display: inline-block;
  }

}
