@import "_variables";
@import "_mixins";
/* Extends Css Start */
%after-before {
  content: "";
  width: 10px;
  height: 15px;
  background-color: transparent;
  top: 13px;
  position: absolute;
  display: inline-block;
}
/* Extends Css End*/
.custom-modal {
  height: 100%;
  padding: 0 !important;
  margin: 0;
  overflow-y: hidden !important;
  .modal-dialog {
    width: 100%;
    margin: 0;
    height: 100%;
    max-width: 100%;
  }

  .modal-content {
    min-height: 100%;
    background-color: $white-color;
    background-clip: padding-box;
    border: 0;
    @include border-radius(0);
    float: left;
    width: 100%;
  }

  .modal-body {
    padding: 0;

    .sidebar-img {
      width: 31%;
      position: fixed;
      display: inline-block;
      text-align: center;
      height: 100%;
      top: 0;
      img.bgimage {
        width: 100%;
        height: 100%;
      }
      img.imglogo {
        width: 68%;
        margin-top: 10%;
        position: absolute;
        top: 0;
        left: 70px;
      }
    }

    .modal-right-block {
      width: 69%;
      position: fixed;
      right: 0;
      height: 100%;
      overflow-y: auto;

      .modal-header {
        background: $brown-color;
        border-bottom: 0;
        padding: 20px 50px 20px 20px;
        @include border-radius(0);
        width: 69%;
        position: fixed;
        z-index: 9;
        h4.modal-title {
          @include crimsonsemibold;
          font-size: 30px;
          display: block;
          line-height: 25px;
          color: $white-color;

          span {
            font-size: 16px;
            @include gill-sans-normal;
            display: block;
          }
        }
      }
    }
  }
}

.modal-right-block .modal-header .close-btn,
.close-btn:hover {
  opacity: 1;
  text-shadow: none;
  outline: 0;
  border: 0;
}
.modal-right-block .modal-header .close-btn img{
  width: 48%;
}
.modal-body-content {
  @include set-position-relative;
  padding: 20px;
  height: 100%;
  margin-top: 65px;
}

.modal-para-text {
  @include gill-sans-normal;
  font-size: 18px;
  color: $brown-color;
}

.modal-para-text a {
  color: #e76023;
  text-decoration: none;
}

.modal-calander {
  @include set-position-relative;
}

.cal-heading {
  @include set-position-relative;
  margin: 30px 0;
}

.cal-sign-icons {
  float: right;
  position: relative;

  li {
    display: inline-block;
    @include gill-sans-normal;
    font-size: 16px;
    margin-left: 15px;
  }
}

.circle-icon {
  height: 10px;
  width: 10px;
  display: inline-block;
  position: relative;
  @include border-radius(50%);
  margin-right: 5px;
  top: 1px;
}

.green-crcl {
  background: #7ed321;
}

.yellow-crcl {
  background: #f5a623;
}

.red-crcl {
  background: #d0021b;
}

.cal-table {
  display: table;
  @include set-position-relative;

  .cal-row {
    display: table-row;
    width: 100%;
    .cal-cell {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      border-left: 1px solid $brown-color;
      border-bottom: 1px solid $brown-color;
      position: relative;
      height: 120px;
    }

    .cal-head {
      padding: 1% 2%;
    }

    .cal-data {
      padding: 1% 2%;
    }
    .premiere{
      background: #f5cc61;
    }
    .before-premiere::before{
      content: "";
      display: block;
      background: url(../images/premeer.png) no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .cal-cell:first-child {
      border-left: 0;
    }
  }
}

p.cal-text {
  @include crimsonbold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  color: $brown-color;
  cursor: pointer;
  margin-bottom: 10px;
  span {
    width: 100%;
    display: block;
    text-transform: none;
    font-size: 14px;
    @include gill-sans-semibold;
    letter-spacing: 1px;
    line-height: 18px;
    margin-top:7px;
  }
}

.cell-combine {
  position: absolute;
  top: 10px;
  width: 173%;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  z-index: 2;
}

.not-available {
  color: #c8bcb9 !important;
}

.ticet-iframe-head {
  position: fixed;
  width: 69%;
  margin: 0;
  list-style: none;
  background: #7b6c45;
  padding: 7px 20px;
}
.bottom-fix{
  bottom: 0;
}
.ticet-iframe-head li,
a.iframe-back {
  color: $white-color;
  @include gill-sans-normal;
}

.ticet-iframe-head li {
  display: inline-block;
  margin-right: 50px;
  font-size: 18px;
}

// .ticet-iframe-head li:last-child {
//   margin-right: 0;
// }

a.iframe-back {
  text-transform: uppercase;
  font-size: 14px;
}

.static-page {
  .back-link {
    @include gill-sans-normal;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    color: $brown-color;
    margin-bottom: 30px;
  }

  h2.content-heading {
    @include content-heading;
    font-size: 42px;
  }
}

address {
  color: $brown-color;
  @include gill-sans-normal;
  font-size: 18px;
  margin-bottom: 2rem;

  strong {
    font-weight: bold;
    font-size: 18px;
  }

  a {
    color: $brown-color;
    font-size: 18px;
  }
}

.months-dropdown {
  position: relative;
  display: inline-block;
  outline: none;
  border: 0;
  float: left;
  width: 210px;

  &:hover {
    // .dropdown-content {
    //   display: block;
    // }
    .dropbtn {
      background-color: $brown-color;
      color: $white-color;
      .arrow-down {
        border-top: 6px solid $white-color;
      }
    }
  }

  .dropbtn {
    background-color: transparent;
    color: $brown-color;
    padding: 13px 20px 13px 40px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    text-transform: uppercase;
    @include crimsonsemibold;
    font-size: 15px;
    line-height: normal;
    cursor: pointer;
    text-align: left;
    &:before {
      @extend %after-before;
      background: url(#{$imgpath}/left-arrow.png) no-repeat;
      left: 5px;
    }
    &:after {
      @extend %after-before;
      background: url(#{$imgpath}/right-arrow.png) no-repeat;
      right: 5px;
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $brown-color;
      position: absolute;
      right: 40px;
      top: 17px;
    }
  }

  .dropdown-content {
    // display: none;
    position: absolute;
    background-color: #d8bf91;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    left: 0;
    padding: 10px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
    a {
      color: $brown-color;
      padding: 5px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
      border-bottom: 1px solid $brown-color;
      text-transform: uppercase;
      @include crimsonsemibold;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        background-color: #ebdfc8;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
} 
.ticket-iframe {
  top: 65px;
  position: relative; 
  height: 89%
}
iframe.iframe-ticketmaster {
  padding: 0;
  margin: 40px 0 32px 0;
  height: 96%;
  border: 0;
  
}
.modal-closebtn {
  width: 48%;
}
.close-btn {
  padding: 15px;
}
.float-right{
  float: right;
}
.scroll-btn{
  background: #ff0000;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  padding: 5px 10px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 63%;
  z-index: 999999;
}
.stripe-4 {

  background: repeating-linear-gradient(45deg, #ebebeb, #ebebeb 1px, #fff 3px, #fff 10px);
}