@import '_variables';
@import '_mixins';
a.modify-btn {
    border: 1px solid $white-color;
    background: transparent;
    padding: 7px 20px;
    display: inline-block;
    color: $white-color;
    @include gill-sans-normal;
    font-size: 12px;
    text-transform: uppercase;
    width: 275px;
    text-decoration: none;
  }