@import '_variables';
@import '_mixins';

.content {
  padding: 60px 0;
}

.bgpattern {
  @include set-position-relative;
  background: url(#{$imgpath}/hp_lightbg.png) no-repeat;    /* background: -webkit-gradient(linear, top, from(#f8edc0), color-stop(0.25, #f8edc0), color-stop(0.5, #2F2727), color-stop(0.75, #fefde6), to(#c5ae9a));
                                                background: -webkit-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
                                                background: -moz-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
                                                background: -ms-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
                                                background: -o-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  // min-height: 800px;
}

.content-block {
  @include set-position-relative;
  margin-bottom: 60px;

  h2.content-heading {
    @include content-heading;
    font-size: 30px;
  }

  p {
    @include gill-sans-normal;
    font-size: 14px;
    color: $brown-color;
    line-height: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }

}

.schedule-block {
  width: 100%;
  position: relative;
  display: table;

  .schedule-row {
    display: table-row;
    position: relative;
    width: 100%;

    .schedule-col {
      display: table-cell;
      position: relative;
      
    }

    .schedule-head {
      color: #7b6c45;
      @include gill-sans-normal;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      border-bottom: 6px solid transparent;
      border-right: 6px solid transparent;
    }

    .schedule-data {
      background: #d8bf91;
      text-align: center;
      vertical-align: middle;
      padding: 8px 0;
      border-bottom: 6px solid #fef6d1;
      border-right: 6px solid #fef6d1;
      %span-label {
        width: 100%;
        display: inline-block;
        color: $brown-color;
      }

      span {
        @extend %span-label;
        @include gill-sans-normal;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        float: left;
        width: 100%;
      }

      label {
        @extend %span-label;
        @include crimsonbold;
        font-size: 20px;
        line-height: 20px;
        float: left;
        width: 100%;
      }

    }

    .schedule-blank {
      background: #7b6c45;
    }

  }

}

.mob-cal-table {
  width: 100%;
  position: relative;
  display: table;

  .mob-cal-row {
    width: 100%;
    position: relative;
    display: table-row;

    .mob-cal-cell {
      display: table-cell;
      vertical-align: middle;
      border-top: 1px solid $brown-color;
      padding: 5px 0;

      .circle-icon {
        top: -9px;
      }

      p.cal-text {
        font-size: 13px;
        margin-right: 10px;

        span {
          display: inline-block;
          width: 89%;
          font-size: 13px;
        }

      }

    }

  }

}

.icon-amp {
  background: #fef6d1;
  @include border-radius(50%);
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  font-size: 18px !important;
  position: absolute;
  z-index: 1;
}

.iabc {
  bottom: -12px;
  left: 43%;
}

.iarc {
  right: -12px;
  top: 30%;
}

.banner-block {
  @include set-position-relative;
  padding: 20px;
  text-align: center;
  color: $white-color;
  margin-bottom: 30px;

  h4 {
    width: 100%;
    position: relative;
    display: inline-block;
    color: $white-color;
    margin-bottom: 20px;
    @include crimsonbold;
    font-size: 27px;

    img {
      margin-right: 15px;
    }

  }

  p {
    margin-bottom: 20px;
  }
}

.color1-bg {
  background: $brown-color;
}

.color2-bg {
  background-color: #222222;
}

.color3-bg {
  background-color: #7b6c45;
}

.banner-block p,
.popup-bar p.paratext,
.popup-bar p.paratext a {
  color: $white-color;
  @include gill-sans-normal;
  font-size: 16px;
}

.sidebar {
  @include set-position-relative;
}

.sidebar-block {
  @include set-position-relative;
  padding: 20px;
  margin-bottom: 15px;
  background: $white-color;

  h4 {
    @include set-position-relative;
    font-size: 20px;
    @include crimsonbold;
    margin-bottom: 10px;
  }

  p {
    @include set-position-relative;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
  }

}

.orange-block {
  color: #e76023;
  border: 1px solid #e76023;
}

.chocolate-block {
  color: $brown-color;
  border: 1px solid $brown-color;
}

.iframe-img {
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

.inner-content-block{
  float: left;
  width: 100%;
  position: relative;
  background: #eae1c7;
  padding: 30px 0; 
  margin-bottom: 30px;
}
.innter-content-detail-block{
  float: left;
  width: 100%;
  position: relative;
  padding: 0 30px;
  border-right: 1px solid #4a2217;
}
.no-br-right{
  border-right: 0!important;
}
.innter-content-detail-block h2.content-heading{
  font-size: 22px;
  margin-top:10px;
}