@import '_variables';
@import '_mixins';

.footer {
  @include set-position-relative;
  background: url(#{$imgpath}/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  padding: 50px 0;

  .logo-hp {
    width: 100%;
    margin-bottom: 30px;
  }

  .logo-wizard {
    float: left;
    width: 33%;
  }

  .logo-mehr {
    float: right;
    width: 50%;
  }

  .footer-menu {
    float: left;
    width: 90%;
    position: relative;
    list-style: none;
    margin-left: 50px;

    li {
      float: left;
      width: 100%;
      color: #d3ba8d;
      line-height: 26px;

      a {
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
      }

    }

  }

  .copyright {
    height: 100%;
    position: relative;
    float: left;

    p {
      letter-spacing: .5px;
    }

    .para-bottom {
      position: absolute;
      bottom: 0;
      a{
        color: #d3ba8d;
      }
    }

  }

}

.footer-menu li a,
.copyright p {
  color: #d3ba8d;
  @include gill-sans-normal;
  font-size: 15px;
}

.bottom-footer {
  @include set-position-relative;
  background: #7b6c45;
  padding: 6px 0;

  p {
    color: #d3ba8d;
    width: 100%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    @include gill-sans-normal;
    font-size: 13px;
  }

}
figure{
  margin: 0;
  display: inline;
}
