@import '_variables';
@import '_mixins';

.header {
  @include set-position-relative;
  background: $brown-color;
  height: 45px;

  .header-menu {
    @include set-position-relative;
    text-align: right;

    h6.head-title {
      display: inline-block;
      text-align: right;
      position: relative;
      text-transform: uppercase;
      color: $white-color;
      @include gill-sans-normal;
      font-size: 14px;
      letter-spacing: 1px;
      margin: 10px 0 10px 0px;
      line-height: 25px;
      padding: 0 0 0 20px;
    }

    .lang-dropdown {
      background: transparent;
      border: 0;
      color: $white-color;
      outline: none;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      padding-right: 15px;
      display: inline-block !important;

      option {
        background: rgba(74, 33, 22, 1);
        color: $white-color;
        border: 0;
        outline: 0;
      }

    }

/*    .top-to-bottom {
      border-left: 1px;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
      border-style: solid;
      -webkit-border-image: -webkit-gradient(linear, top, from(rba(0, 0, 0, 0)), color-stop(0.25, $white-color), color-stop(0.5, $white-color), color-stop(0.75, $white-color), to(rgba(0, 0, 0, 0)));
      -webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
      -moz-border-image: -moz-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
      -o-border-image: -o-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
      border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
    }
*/
    .lang-dropdown {
      position: relative;
      display: inline-block;
      outline: none;
      border: 0;

      &:hover {
        .dropdown-content {
          display: block;
        }

      }

      .dropbtn {
        background-color: transparent;
        color: $white-color;
        padding: 10px;
        font-size: 16px;
        border: none;
        outline: none;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $brown-color;
        min-width: 110px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 2;
        right: 0;

        a {
          color: #a0837b;
          padding: 5px 16px;
          text-decoration: none;
          display: block;
          text-align: right;

          &:hover {
            background-color: $brown-color;
          }

        }

      }

    }

  }

  img.logo {
    margin: 12px 0;
  }

}
.timer-countdown {
  background-color: #222222;
  float: left;
  width: 100%;
  position: relative;
  padding: 50px 0 35px 0;
}

.timer-countdown .container {
  text-align: center;
}

.timer-countdown .container p {
  color: #ffffff;
  letter-spacing: 10px;
  font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

.timer-countdown ul li {
  display: inline-block;
  font-size: .9rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
}

.timer-countdown ul li span {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  line-height: 110px;
  margin-bottom: 15px;
  font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
}
.timer-countdown ul li span.collon{
  top: -56px;
  position: relative;
  margin-bottom: 0px;
}
.timer-block{
  cursor: pointer;
}

.presales-block{
  background-color: #222222;
  float: left;
  width: 100%;
  position: relative;
  padding: 50px 0 35px 0;
}
.presales-block .presales-content h1{
  font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    color: #ffffff;
}
.presales-block .presales-content .presales-inner-content p, .presales-block .presales-content .presales-inner-content p a{
  font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    color: #ffffff;
    line-height: 20px;
}
.reg-btn,.reg-btn:hover, .primary-reg-btn, .primary-reg-btn:hover{
  border: 1px solid #ffffff;
  font-family: 'Gill Sans';
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  border-radius: 100px;
  padding: 8px 35px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}
.reg-btn, .reg-btn:hover{
  background: transparent;
  color: #ffffff;
}
.primary-reg-btn, .primary-reg-btn:hover{
  background: #ffffff;
  color: #222222;
}
.mt-15{
  margin-top: 15px;
}
.code-txt{
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  font-family: 'crimsonbold';
  font-weight: 900;
  font-style: normal;
  font-size: 2rem;
  padding: 10px;
  text-transform: uppercase;
  outline: none;
  color: #ffffff;
  margin-top: 30px;
}
.code-txt:focus{
  border-bottom: 1px solid rgba(255,255,255,1);
}
::placeholder {
  color: white;
  
}

.presale-banner-block{
  float: left;
  width: 100%;
  position: relative;
  background: #ffffff;
  padding: 10px 0;
}
.presale-banner-block p{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 100%;
  display: inline-block;
  font-family: 'Gill Sans';
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: #4a2116;
}
.cc-window.cc-floating{
  max-width: 100%!important;
}