@mixin set-position-relative {
	float: left;
	width: 100%;
	position: relative;
}

@mixin content-heading {
	color: #4a2116;
	font-family: 'crimsonbold';
	font-weight: 900;
	font-style: normal;
	margin-bottom: 15px;
}

@mixin gill-sans-normal {
	font-family: 'Gill Sans';
	font-weight: normal;
	font-style: normal;
}

@mixin gill-sans-semibold {
	font-family: 'Gill Sans';
	font-weight: 500;
	font-style: normal;
}

@mixin crimsonsemibold {
	font-family: 'crimsonsemibold';
	font-weight: normal;
	font-style: normal;
}

@mixin crimsonbold {
	font-family: 'crimsonbold';
	font-weight: 900;
	font-style: normal;
}

@mixin transform($property) {
	transform: $property; /* W3C */
	-webkit-transform: $property; /* Safari & Chrome */
	-moz-transform: $property;/* Firefox */
	-ms-transform: $property; /* Internet Explorer */
	-o-transform: $property;/* Opera */
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
