@import '_variables';
@import '_mixins';

.popup-bar {
  float: left;
  width: 100%;
  position: absolute;
  background: rgba(133, 115, 67, 0.9);
  top: 45px;
  z-index: 1;

  p.paratext {
    padding: 20px 0;
    letter-spacing: 0.7px;

    a {
      text-decoration: underline;
    }

  }

  .mdfybtn {
    width: 100%;
    height: 88px;
    background: #222222;
    color: $white-color;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
    @include gill-sans-semibold;
  }

}
