@import '_variables';
@import '_mixins';

.ribbon {
  width: 175px;
  height: 150px;
  overflow: hidden;
  position: absolute;

  label {
    position: absolute;
    display: block;
    width: 225px;
    padding: 6px 0;
    background-color: #e76023;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: $white-color;
    @include gill-sans-normal;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }

}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #e76023;
}

/* top left*/
.ribbon-top-left {
  top: 0;
  left: 0;

  label {
    right: 4px;
    top: 35px;
    @include transform(rotate(-38deg));
  }

}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
