@import "_variables";
@import "_mixins";
@media (max-width: 1366px) {
}
@media (max-width: 1200px) {
  .custom-container {
    max-width: 960px;
  }
  // .modal-header{
  //   width: 100%!important;
  // }
}

@media (max-width: 768px) {
  .banner-block a {
    width: auto;
  }

  .tab-mb-60 {
    margin-bottom: 60px !important;
  }

  .footer-menu li a,
  .copyright p {
    font-size: 13px;
  }

  .custom-modal .modal-body .modal-right-block {
    width: 100%;
  }
  .modal-header {
    width: 100% !important;
  }
  .presale-banner-block p {
    font-size: 1.5rem;
  }
  .timer-countdown {
    .container {
      p {
        letter-spacing: 9px;
      }
    }
    ul {
      li {
        padding: 1em 0.2rem;
        span {
          margin-bottom: 11px;
          font-size: 5rem;
          line-height: 95px;
        }
      }
    }
  }
  .reg-btn, .reg-btn:hover, .primary-reg-btn, .primary-reg-btn:hover{
    float: left;
    padding: 8px 20px;
    font-size: .8rem
  }
  .presales-block .presales-content h1,.code-txt{
    font-size: 1.5rem;
  }
  .btn-block{
    margin-top: 0!important;
  }
}

@media (max-width: 414px) {
  .no-mo-pd {
    padding: 0 !important;
  }

  .no-mo-mr {
    margin: 0 !important;
  }

  img.logo {
    width: 97%;
  }

  .header .header-menu h6.head-title {
    font-size: 10px;
    margin-left: 0;
    padding: 0 0 0 12px;
  }

  .banner img {
    margin: 20px;
    width: 90%;
  }

  .header .header-menu .lang-dropdown {
    display: none !important;
  }

  .content {
    padding: 15px 0 0 0;
  }

  .sidebar-block {
    padding: 20px;

    h4 {
      margin-bottom: 5px;
    }

    p {
      line-height: 17px;
    }
  }

  .content-block {
    margin-bottom: 15px;
  }

  .banner-block {
    margin-bottom: 0;
    padding: 20px 15px;

    .h458 {
      width: 58%;
    }

    .h430 {
      width: 30%;
    }

    p {
      font-size: 14px;
    }

    a {
      width: 100%;
      padding: 7px 10px;
      font-size: 10px;
    }
  }

  .mo-mb-39 {
    margin-bottom: 39px !important;
  }

  .chocolate-block {
    border: 0;
  }

  .footer {
    padding: 40px 0;

    .logo-hp {
      width: 35%;
      float: left;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .logo-wizard {
      float: none;
      width: 17%;
    }

    .logo-mehr {
      width: 24%;
    }

    .footer-menu {
      width: 100%;
      margin: 30px 0;

      li {
        text-align: center;
      }
    }

    .copyright {
      text-align: center;

      .para-bottom {
        position: relative;
      }
    }
  }

  .footer-logo-block {
    text-align: center;
  }

  .bottom-footer p {
    width: 75%;
  }

  .schedule-block {
    margin-bottom: 20px;
  }

  .iabc {
    bottom: 13px;
    right: -8%;
    left: unset;
  }

  .iarc {
    right: 45%;
    bottom: -12px;
    top: unset;
  }

  .popup-bar .mdfybtn {
    padding: 20px;
  }

  .popup-bar .paratext {
    text-align: center;
  }

  .static-page h2.content-heading {
    font-size: 32px;
  }

  .custom-modal .modal-body .modal-right-block {
    width: 100%;
  }

  .custom-modal .modal-body .modal-right-block .modal-header {
    background: url(#{$imgpath}/hp_bg-calender-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    padding: 15px;
    width: 100%;
    position: relative;

  }

  .custom-modal .modal-body .modal-right-block .modal-header h4.modal-title {
    color: $brown-color;
    line-height: 20px;
    margin: 6px 0 0 0;
  }

  .custom-modal .modal-header .close {
    padding: 15px;
  }

  .months-dropdown {
    width: 100%;
    .dropbtn {
      text-align: left;
      padding: 13px 20px 13px 73px;
      .arrow-down {
        right: 60px;
      }
    }
  }

  .ticket-iframe img {
    width: 100%;
  }
  .ticet-iframe-head {
    width: 100%;
  }
  .ticket-iframe {
    top: 55px;
  }
  .ticet-iframe-head li {
    margin-right: 0;
  }
  .heading-text {
    display: none !important;
  }
  .presale-banner-block p {
    font-size: 1rem;
    letter-spacing: 3px;
  }
  .timer-countdown {
    padding: 20px 0 10px 0;
    ul {
      li {
        font-size: 0.9rem;
        padding: 0.1rem;
        span {
          font-size: 3.5rem;
          margin-bottom: 5px;
          line-height: 75px;
        }
        span.collon {
          top: -35px;
        }
      }
    }
  }
    .presales-block {
      padding: 25px 0 35px 0;
    }
    .btn-block {
      margin-top: 25px!important;
      text-align: center;
    }
  
    .presales-block {
      .presales-content {
        h1 {
          font-size: 2rem;
          text-align: center;
        }
        .presales-inner-content {
          p {
            text-align: center;
            margin-top: 10px;
          }
        }
      }
    }
    .code-txt{
      font-size: 1.5rem;
    }
    .primary-reg-btn, .reg-btn{
      float: none!important;
    }
    .modal-body-content{
      margin-top: 0;
    }
  
}

@media (max-width: 320px) {
  .header .header-menu h6.head-title {
    font-size: 10px;
    line-height: 18px;
    padding: 0 0 0 12px;
  }

  .header {
    height: auto;
  }

  .mo-mb-39 {
    margin-bottom: 20px !important;
  }

  .static-page h2.content-heading {
    font-size: 30px;
  }
  .mob-cal-table .mob-cal-row .mob-cal-cell p.cal-text span {
    width: 86%;
  }
  .ticet-iframe-head li {
    font-size: 16px;
  }
  a.iframe-back {
    font-size: 12px;
  }
  .presale-banner-block p {
    font-size: 1rem;
    letter-spacing: 3px;
  }
  .timer-countdown {
    padding: 20px 0 10px 0;
    ul {
      li {
        font-size: 0.9rem;
        padding: 0.1rem;
        span {
          font-size: 3.5rem;
          margin-bottom: 5px;
          line-height: 75px;
        }
        span.collon {
          top: -45px;
        }
      }
    }
  }
  .presales-block {
    padding: 25px 0 35px 0;
  }
  .btn-block {
    margin-top: 25px!important;
    text-align: center;
  }

  .presales-block {
    .presales-content {
      h1 {
        font-size: 1.5rem;
        text-align: center;
      }
      .presales-inner-content {
        p {
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
  .code-txt{
    font-size: 1.5rem;
  }
  .primary-reg-btn, .reg-btn{
    float: none!important;
  }
  .modal-body-content{
    margin-top: 0px;
  }
}
