html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
hr,
table {
	margin: 0;
	padding: 0;
}

::-ms-clear {
	display: none;
}

ul {
	list-style: none;
	outline: none;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
	text-decoration: none;
	border: 0;
	outline: none;
}

a img {
	outline: none;
	cursor: pointer;
}

button {
	border: 0;
	outline: none;
}

.nomr {
	margin: 0 !important;
}

.no-mrpd {
	margin: 0 !important;
	padding: 0 !important;
}
