/* Reset Css Start */
@import url(../../lib/bootstrap-4.0.0/css/bootstrap.min.css);

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
hr,
table {
    margin: 0;
    padding: 0;
}

::-ms-clear {
    display: none;
}

ul {
    list-style: none;
    outline: none;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    border: 0;
    outline: none;
}

a img {
    outline: none;
    cursor: pointer;
}

button {
    border: 0;
    outline: none;
}

.nomr {
    margin: 0 !important;
}

.no-mrpd {
    margin: 0 !important;
    padding: 0 !important;
}

/* Reset Css End */
/* Fonts Css Start*/
@font-face {
    font-family: 'crimsonbold';
  src: url("fonts/crimson-bold-webfont.eot");
  src: url("fonts/crimson-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/crimson-bold-webfont.woff2") format("woff2"), url("fonts/crimson-bold-webfont.woff") format("woff"), url("fonts/crimson-bold-webfont.ttf") format("truetype"), url("fonts/crimson-bold-webfont.svg#crimsonbold") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: 'crimsonsemibold';
  src: url("fonts/crimson-semibold-webfont.eot");
  src: url("fonts/crimson-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/crimson-semibold-webfont.woff2") format("woff2"), url("fonts/crimson-semibold-webfont.woff") format("woff"), url("fonts/crimson-semibold-webfont.ttf") format("truetype"), url("fonts/crimson-semibold-webfont.svg#crimsonsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
  src: url("fonts/GillSans-Medium.eot");
  src: url("fonts/GillSans-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/GillSans-Medium.woff2") format("woff2"), url("fonts/GillSans-Medium.woff") format("woff"), url("fonts/GillSans-Medium.ttf") format("truetype"), url("fonts/GillSans-Medium.svg#GillSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
  src: url("fonts/GillSans.eot");
  src: url("fonts/GillSans.eot?#iefix") format("embedded-opentype"), url("fonts/GillSans.woff2") format("woff2"), url("fonts/GillSans.woff") format("woff"), url("fonts/GillSans.ttf") format("truetype"), url("fonts/GillSans.svg#GillSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Fonts Css End*/
/* Bootstrap CSS Start*/
/* Bootstrap CSS End*/
/* Component css Start*/
a.modify-btn {
    border: 1px solid #ffffff;
    background: transparent;
    padding: 7px 20px;
    display: inline-block;
    color: #ffffff;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    width: 275px;
    text-decoration: none;
}

/* Component css End*/
/* HTML Initial css */
html,
body {
    height: 100%;
}

/* HTML Initial css End */
/* Header Css */
.header {
    float: left;
    width: 100%;
    position: relative;
    background: #4a2116;
    height: 45px;
}

.header .header-menu {
    float: left;
    width: 100%;
    position: relative;
    text-align: right;
    /*    .top-to-bottom {
      border-left: 1px;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
      border-style: solid;
      -webkit-border-image: -webkit-gradient(linear, top, from(rba(0, 0, 0, 0)), color-stop(0.25, $white-color), color-stop(0.5, $white-color), color-stop(0.75, $white-color), to(rgba(0, 0, 0, 0)));
      -webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
      -moz-border-image: -moz-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
      -o-border-image: -o-linear-gradient(rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
      border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)) 1 100%;
    }
*/
}

.header .header-menu h6.head-title {
    display: inline-block;
    text-align: right;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 10px 0 10px 0px;
    line-height: 25px;
    padding: 0 0 0 20px;
}

.header .header-menu .lang-dropdown {
    background: transparent;
    border: 0;
    color: #ffffff;
    outline: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding-right: 15px;
    display: inline-block !important;
}

.header .header-menu .lang-dropdown option {
    background: #4a2116;
    color: #ffffff;
    border: 0;
    outline: 0;
}

.header .header-menu .lang-dropdown {
    position: relative;
    display: inline-block;
    outline: none;
    border: 0;
}

.header .header-menu .lang-dropdown:hover .dropdown-content {
    display: block;
}

.header .header-menu .lang-dropdown .dropbtn {
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.header .header-menu .lang-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4a2116;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    right: 0;
}

.header .header-menu .lang-dropdown .dropdown-content a {
    color: #a0837b;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.header .header-menu .lang-dropdown .dropdown-content a:hover {
    background-color: #4a2116;
}

.header img.logo {
    margin: 12px 0;
}

.timer-countdown {
    background-color: #222222;
    float: left;
    width: 100%;
    position: relative;
    padding: 50px 0 35px 0;
}

.timer-countdown .container {
    text-align: center;
}

.timer-countdown .container p {
    color: #ffffff;
    letter-spacing: 10px;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

.timer-countdown ul li {
    display: inline-block;
    font-size: .9rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
}

.timer-countdown ul li span {
    display: block;
    font-size: 8rem;
    color: #ffffff;
    line-height: 110px;
    margin-bottom: 15px;
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
}

.timer-countdown ul li span.collon {
    top: -56px;
    position: relative;
    margin-bottom: 0px;
}

.timer-block {
    cursor: pointer;
}

.presales-block {
    background-color: #222222;
    float: left;
    width: 100%;
    position: relative;
    padding: 50px 0 35px 0;
}

.presales-block .presales-content h1 {
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    color: #ffffff;
}

.presales-block .presales-content .presales-inner-content p, .presales-block .presales-content .presales-inner-content p a {
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    color: #ffffff;
    line-height: 20px;
}

.reg-btn, .reg-btn:hover, .primary-reg-btn, .primary-reg-btn:hover {
    border: 1px solid #ffffff;
    font-family: 'Gill Sans';
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    border-radius: 100px;
    padding: 8px 35px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.reg-btn, .reg-btn:hover {
    background: transparent;
    color: #ffffff;
}

.primary-reg-btn, .primary-reg-btn:hover {
    background: #ffffff;
    color: #222222;
}

.mt-15 {
    margin-top: 15px;
}

.code-txt {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    padding: 10px;
    text-transform: uppercase;
    outline: none;
    color: #ffffff;
    margin-top: 30px;
}

.code-txt:focus {
    border-bottom: 1px solid white;
}

::placeholder {
    color: white;
}

.presale-banner-block {
    float: left;
    width: 100%;
    position: relative;
    background: #ffffff;
    padding: 10px 0;
}

.presale-banner-block p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 100%;
    display: inline-block;
    font-family: 'Gill Sans';
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    color: #4a2116;
}

.cc-window.cc-floating {
    max-width: 100% !important;
}

/* Header Css end */
/* Popup Css */
.popup-bar {
    float: left;
    width: 100%;
    position: absolute;
    background: rgba(133, 115, 67, 0.9);
    top: 45px;
    z-index: 1;
}

.popup-bar p.paratext {
    padding: 20px 0;
    letter-spacing: 0.7px;
}

.popup-bar p.paratext a {
    text-decoration: underline;
}

.popup-bar .mdfybtn {
    width: 100%;
    height: 88px;
    background: #222222;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: 'Gill Sans';
    font-weight: 500;
    font-style: normal;
}

/* Popup Css end */
/* Banner Css  Start*/
.banner {
    float: left;
    width: 100%;
    position: relative;
    background: url(../images/hp_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.banner img {
    text-align: center;
    margin: 20px 0;
    display: inline-block;
}

/* Banner Css  End*/
/* Content Css Start*/
.content {
    padding: 60px 0;
}

.bgpattern {
    float: left;
    width: 100%;
    position: relative;
    background: url(../images/hp_lightbg.png) no-repeat;
  /* background: -webkit-gradient(linear, top, from(#f8edc0), color-stop(0.25, #f8edc0), color-stop(0.5, #2F2727), color-stop(0.75, #fefde6), to(#c5ae9a));
                                                background: -webkit-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
                                                background: -moz-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
                                                background: -ms-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a);
                                                background: -o-linear-gradient(top, #f8edc0, #fdfce6, #fdfce6, #c5ae9a); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.content-block {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

.content-block h2.content-heading {
    color: #4a2116;
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    margin-bottom: 15px;
    font-size: 30px;
}

.content-block p {
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #4a2116;
    line-height: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.schedule-block {
    width: 100%;
    position: relative;
    display: table;
}

.schedule-block .schedule-row {
    display: table-row;
    position: relative;
    width: 100%;
}

.schedule-block .schedule-row .schedule-col {
    display: table-cell;
    position: relative;
}

.schedule-block .schedule-row .schedule-head {
    color: #7b6c45;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
}

.schedule-block .schedule-row .schedule-data {
    background: #d8bf91;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0;
    border-bottom: 6px solid #fef6d1;
    border-right: 6px solid #fef6d1;
}

.schedule-block .schedule-row .schedule-data span, .schedule-block .schedule-row .schedule-data label {
    width: 100%;
    display: inline-block;
    color: #4a2116;
}

.schedule-block .schedule-row .schedule-data span {
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    float: left;
    width: 100%;
}

.schedule-block .schedule-row .schedule-data label {
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    float: left;
    width: 100%;
}

.schedule-block .schedule-row .schedule-blank {
    background: #7b6c45;
}

.mob-cal-table {
    width: 100%;
    position: relative;
    display: table;
}

.mob-cal-table .mob-cal-row {
    width: 100%;
    position: relative;
    display: table-row;
}

.mob-cal-table .mob-cal-row .mob-cal-cell {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #4a2116;
    padding: 5px 0;
}

.mob-cal-table .mob-cal-row .mob-cal-cell .circle-icon {
    top: -9px;
}

.mob-cal-table .mob-cal-row .mob-cal-cell p.cal-text {
    font-size: 13px;
    margin-right: 10px;
}

.mob-cal-table .mob-cal-row .mob-cal-cell p.cal-text span {
    display: inline-block;
    width: 89%;
    font-size: 13px;
}

.icon-amp {
    background: #fef6d1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    font-size: 18px !important;
    position: absolute;
    z-index: 1;
}

.iabc {
    bottom: -12px;
    left: 43%;
}

.iarc {
    right: -12px;
    top: 30%;
}

.banner-block {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.banner-block h4 {
    width: 100%;
    position: relative;
    display: inline-block;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    font-size: 27px;
}

.banner-block h4 img {
    margin-right: 15px;
}

.banner-block p {
    margin-bottom: 20px;
}

.color1-bg {
    background: #4a2116;
}

.color2-bg {
    background-color: #222222;
}

.color3-bg {
    background-color: #7b6c45;
}

.banner-block p,
.popup-bar p.paratext,
.popup-bar p.paratext a {
    color: #ffffff;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.sidebar {
    float: left;
    width: 100%;
    position: relative;
}

.sidebar-block {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    background: #ffffff;
}

.sidebar-block h4 {
    float: left;
    width: 100%;
    position: relative;
    font-size: 20px;
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    margin-bottom: 10px;
}

.sidebar-block p {
    float: left;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

.orange-block {
    color: #e76023;
    border: 1px solid #e76023;
}

.chocolate-block {
    color: #4a2116;
    border: 1px solid #4a2116;
}

.iframe-img {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.inner-content-block {
    float: left;
    width: 100%;
    position: relative;
    background: #eae1c7;
    padding: 30px 0;
    margin-bottom: 30px;
}

.innter-content-detail-block {
    float: left;
    width: 100%;
    position: relative;
    padding: 0 30px;
    border-right: 1px solid #4a2217;
}

.no-br-right {
    border-right: 0 !important;
}

.innter-content-detail-block h2.content-heading {
    font-size: 22px;
    margin-top: 10px;
}

/* Content Css End*/
/* Footer Css Start*/
.footer {
    float: left;
    width: 100%;
    position: relative;
    background: url(../images/footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    padding: 50px 0;
}

.footer .logo-hp {
    width: 100%;
    margin-bottom: 30px;
}

.footer .logo-wizard {
    float: left;
    width: 33%;
}

.footer .logo-mehr {
    float: right;
    width: 50%;
}

.footer .footer-menu {
    float: left;
    width: 90%;
    position: relative;
    list-style: none;
    margin-left: 50px;
}

.footer .footer-menu li {
    float: left;
    width: 100%;
    color: #d3ba8d;
    line-height: 26px;
}

.footer .footer-menu li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.footer .copyright {
    height: 100%;
    position: relative;
    float: left;
}

.footer .copyright p {
    letter-spacing: .5px;
}

.footer .copyright .para-bottom {
    position: absolute;
    bottom: 0;
}

.footer .copyright .para-bottom a {
    color: #d3ba8d;
}

.footer-menu li a,
.copyright p {
    color: #d3ba8d;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

.bottom-footer {
    float: left;
    width: 100%;
    position: relative;
    background: #7b6c45;
    padding: 6px 0;
}

.bottom-footer p {
    color: #d3ba8d;
    width: 100%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
}

figure {
    margin: 0;
    display: inline;
}

/* Footer Css End*/
/* Custom Modal Calender Css Start*/
/* Extends Css Start */
.months-dropdown .dropbtn:before, .months-dropdown .dropbtn:after {
    content: "";
    width: 10px;
    height: 15px;
    background-color: transparent;
    top: 13px;
    position: absolute;
    display: inline-block;
}

/* Extends Css End*/
.custom-modal {
    height: 100%;
    padding: 0 !important;
    margin: 0;
    overflow-y: hidden !important;
}

.custom-modal .modal-dialog {
    width: 100%;
    margin: 0;
    height: 100%;
    max-width: 100%;
}

.custom-modal .modal-content {
    min-height: 100%;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    float: left;
    width: 100%;
}

.custom-modal .modal-body {
    padding: 0;
}

.custom-modal .modal-body .sidebar-img {
    width: 31%;
    position: fixed;
    display: inline-block;
    text-align: center;
    height: 100%;
    top: 0;
}

.custom-modal .modal-body .sidebar-img img.bgimage {
    width: 100%;
    height: 100%;
}

.custom-modal .modal-body .sidebar-img img.imglogo {
    width: 68%;
    margin-top: 10%;
    position: absolute;
    top: 0;
    left: 70px;
}

.custom-modal .modal-body .modal-right-block {
    width: 69%;
    position: fixed;
    right: 0;
    height: 100%;
    overflow-y: auto;
}

.custom-modal .modal-body .modal-right-block .modal-header {
    background: #4a2116;
    border-bottom: 0;
    padding: 20px 50px 20px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    width: 69%;
    position: fixed;
    z-index: 9;
}

.custom-modal .modal-body .modal-right-block .modal-header h4.modal-title {
    font-family: 'crimsonsemibold';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    display: block;
    line-height: 25px;
    color: #ffffff;
}

.custom-modal .modal-body .modal-right-block .modal-header h4.modal-title span {
    font-size: 16px;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    display: block;
}

.modal-right-block .modal-header .close-btn,
.close-btn:hover {
    opacity: 1;
    text-shadow: none;
    outline: 0;
    border: 0;
}

.modal-right-block .modal-header .close-btn img {
    width: 48%;
}

.modal-body-content {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px;
    height: 100%;
    margin-top: 65px;
}

.modal-para-text {
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #4a2116;
}

.modal-para-text a {
    color: #e76023;
    text-decoration: none;
}

.modal-calander {
    float: left;
    width: 100%;
    position: relative;
}

.cal-heading {
    float: left;
    width: 100%;
    position: relative;
    margin: 30px 0;
}

.cal-sign-icons {
    float: right;
    position: relative;
}

.cal-sign-icons li {
    display: inline-block;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-left: 15px;
}

.circle-icon {
    height: 10px;
    width: 10px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-right: 5px;
    top: 1px;
}

.green-crcl {
    background: #7ed321;
}

.yellow-crcl {
    background: #f5a623;
}

.red-crcl {
    background: #d0021b;
}

.cal-table {
    display: table;
    float: left;
    width: 100%;
    position: relative;
}

.cal-table .cal-row {
    display: table-row;
    width: 100%;
}

.cal-table .cal-row .cal-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #4a2116;
    border-bottom: 1px solid #4a2116;
    position: relative;
    height: 120px;
}

.cal-table .cal-row .cal-head {
    padding: 1% 2%;
}

.cal-table .cal-row .cal-data {
    padding: 1% 2%;
}

.cal-table .cal-row .premiere {
    background: #f5cc61;
}

.cal-table .cal-row .before-premiere::before {
    content: "";
    display: block;
    background: url(../images/premeer.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
}

.cal-table .cal-row .cal-cell:first-child {
    border-left: 0;
}

p.cal-text {
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
    color: #4a2116;
    cursor: pointer;
    margin-bottom: 10px;
}

p.cal-text span {
    width: 100%;
    display: block;
    text-transform: none;
    font-size: 14px;
    font-family: 'Gill Sans';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 18px;
    margin-top: 7px;
}

.cell-combine {
    position: absolute;
    top: 10px;
    width: 173%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    z-index: 2;
}

.not-available {
    color: #c8bcb9 !important;
}

.ticet-iframe-head {
    position: fixed;
    width: 69%;
    margin: 0;
    list-style: none;
    background: #7b6c45;
    padding: 7px 20px;
}

.bottom-fix {
    bottom: 0;
}

.ticet-iframe-head li,
a.iframe-back {
    color: #ffffff;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
}

.ticet-iframe-head li {
    display: inline-block;
    margin-right: 50px;
    font-size: 18px;
}

a.iframe-back {
    text-transform: uppercase;
    font-size: 14px;
}

.static-page .back-link {
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    color: #4a2116;
    margin-bottom: 30px;
}

.static-page h2.content-heading {
    color: #4a2116;
    font-family: 'crimsonbold';
    font-weight: 900;
    font-style: normal;
    margin-bottom: 15px;
    font-size: 42px;
}

address {
    color: #4a2116;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 2rem;
}

address strong {
    font-weight: bold;
    font-size: 18px;
}

address a {
    color: #4a2116;
    font-size: 18px;
}

.months-dropdown {
    position: relative;
    display: inline-block;
    outline: none;
    border: 0;
    float: left;
    width: 210px;
}

.months-dropdown:hover .dropbtn {
    background-color: #4a2116;
    color: #ffffff;
}

.months-dropdown:hover .dropbtn .arrow-down {
    border-top: 6px solid #ffffff;
}

.months-dropdown .dropbtn {
    background-color: transparent;
    color: #4a2116;
    padding: 13px 20px 13px 40px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    text-transform: uppercase;
    font-family: 'crimsonsemibold';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    cursor: pointer;
    text-align: left;
}

.months-dropdown .dropbtn:before {
    background: url(../images/left-arrow.png) no-repeat;
    left: 5px;
}

.months-dropdown .dropbtn:after {
    background: url(../images/right-arrow.png) no-repeat;
    right: 5px;
}

.months-dropdown .dropbtn .arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #4a2116;
    position: absolute;
    right: 40px;
    top: 17px;
}

.months-dropdown .dropdown-content {
    position: absolute;
    background-color: #d8bf91;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    left: 0;
    padding: 10px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
}

.months-dropdown .dropdown-content a {
    color: #4a2116;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #4a2116;
    text-transform: uppercase;
    font-family: 'crimsonsemibold';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}

.months-dropdown .dropdown-content a:hover {
    background-color: #ebdfc8;
}

.months-dropdown .dropdown-content a:last-child {
    border-bottom: 0;
}

.ticket-iframe {
    top: 65px;
    position: relative;
    height: 89%;
}

iframe.iframe-ticketmaster {
    padding: 0;
    margin: 40px 0 32px 0;
    height: 96%;
    border: 0;
}

.modal-closebtn {
    width: 48%;
}

.close-btn {
    padding: 15px;
}

.float-right {
    float: right;
}

.scroll-btn {
    background: #ff0000;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 63%;
    z-index: 999999;
}

.stripe-4 {
    background: repeating-linear-gradient(45deg, #ebebeb, #ebebeb 1px, #fff 3px, #fff 10px);
}

/* Custom Modal Calender Css End*/
/* Custom Media Query Start*/
@media (max-width: 1200px) {
    .custom-container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .banner-block a {
        width: auto;
    }

    .tab-mb-60 {
        margin-bottom: 60px !important;
    }

    .footer-menu li a,
  .copyright p {
        font-size: 13px;
    }

    .custom-modal .modal-body .modal-right-block {
        width: 100%;
    }

    .modal-header {
        width: 100% !important;
    }

    .presale-banner-block p {
        font-size: 1.5rem;
    }

    .timer-countdown .container p {
        letter-spacing: 9px;
    }

    .timer-countdown ul li {
        padding: 1em 0.2rem;
    }

    .timer-countdown ul li span {
        margin-bottom: 11px;
        font-size: 5rem;
        line-height: 95px;
    }

    .reg-btn, .reg-btn:hover, .primary-reg-btn, .primary-reg-btn:hover {
        float: left;
        padding: 8px 20px;
        font-size: .8rem;
    }

    .presales-block .presales-content h1, .code-txt {
        font-size: 1.5rem;
    }

    .btn-block {
        margin-top: 0 !important;
    }
}

@media (max-width: 414px) {
    .no-mo-pd {
        padding: 0 !important;
    }

    .no-mo-mr {
        margin: 0 !important;
    }

    img.logo {
        width: 97%;
    }

    .header .header-menu h6.head-title {
        font-size: 10px;
        margin-left: 0;
        padding: 0 0 0 12px;
    }

    .banner img {
        margin: 20px;
        width: 90%;
    }

    .header .header-menu .lang-dropdown {
        display: none !important;
    }

    .content {
        padding: 15px 0 0 0;
    }

    .sidebar-block {
        padding: 20px;
    }

    .sidebar-block h4 {
        margin-bottom: 5px;
    }

    .sidebar-block p {
        line-height: 17px;
    }

    .content-block {
        margin-bottom: 15px;
    }

    .banner-block {
        margin-bottom: 0;
        padding: 20px 15px;
    }

    .banner-block .h458 {
        width: 58%;
    }

    .banner-block .h430 {
        width: 30%;
    }

    .banner-block p {
        font-size: 14px;
    }

    .banner-block a {
        width: 100%;
        padding: 7px 10px;
        font-size: 10px;
    }

    .mo-mb-39 {
        margin-bottom: 39px !important;
    }

    .chocolate-block {
        border: 0;
    }

    .footer {
        padding: 40px 0;
    }

    .footer .logo-hp {
        width: 35%;
        float: left;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .footer .logo-wizard {
        float: none;
        width: 17%;
    }

    .footer .logo-mehr {
        width: 24%;
    }

    .footer .footer-menu {
        width: 100%;
        margin: 30px 0;
    }

    .footer .footer-menu li {
        text-align: center;
    }

    .footer .copyright {
        text-align: center;
    }

    .footer .copyright .para-bottom {
        position: relative;
    }

    .footer-logo-block {
        text-align: center;
    }

    .bottom-footer p {
        width: 75%;
    }

    .schedule-block {
        margin-bottom: 20px;
    }

    .iabc {
        bottom: 13px;
        right: -8%;
        left: unset;
    }

    .iarc {
        right: 45%;
        bottom: -12px;
        top: unset;
    }

    .popup-bar .mdfybtn {
        padding: 20px;
    }

    .popup-bar .paratext {
        text-align: center;
    }

    .static-page h2.content-heading {
        font-size: 32px;
    }

    .custom-modal .modal-body .modal-right-block {
        width: 100%;
    }

    .custom-modal .modal-body .modal-right-block .modal-header {
        background: url(../images/hp_bg-calender-mobile.png);
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        padding: 15px;
        width: 100%;
        position: relative;
    }

    .custom-modal .modal-body .modal-right-block .modal-header h4.modal-title {
        color: #4a2116;
        line-height: 20px;
        margin: 6px 0 0 0;
    }

    .custom-modal .modal-header .close {
        padding: 15px;
    }

    .months-dropdown {
        width: 100%;
    }

    .months-dropdown .dropbtn {
        text-align: left;
        padding: 13px 20px 13px 73px;
    }

    .months-dropdown .dropbtn .arrow-down {
        right: 60px;
    }

    .ticket-iframe img {
        width: 100%;
    }

    .ticet-iframe-head {
        width: 100%;
    }

    .ticket-iframe {
        top: 55px;
    }

    .ticet-iframe-head li {
        margin-right: 0;
    }

    .heading-text {
        display: none !important;
    }

    .presale-banner-block p {
        font-size: 1rem;
        letter-spacing: 3px;
    }

    .timer-countdown {
        padding: 20px 0 10px 0;
    }

    .timer-countdown ul li {
        font-size: 0.9rem;
        padding: 0.1rem;
    }

    .timer-countdown ul li span {
        font-size: 3.5rem;
        margin-bottom: 5px;
        line-height: 75px;
    }

    .timer-countdown ul li span.collon {
        top: -35px;
    }

    .presales-block {
        padding: 25px 0 35px 0;
    }

    .btn-block {
        margin-top: 25px !important;
        text-align: center;
    }

    .presales-block .presales-content h1 {
        font-size: 2rem;
        text-align: center;
    }

    .presales-block .presales-content .presales-inner-content p {
        text-align: center;
        margin-top: 10px;
    }

    .code-txt {
        font-size: 1.5rem;
    }

    .primary-reg-btn, .reg-btn {
        float: none !important;
    }

    .modal-body-content {
        margin-top: 0;
    }
}

@media (max-width: 320px) {
    .header .header-menu h6.head-title {
        font-size: 10px;
        line-height: 18px;
        padding: 0 0 0 12px;
    }

    .header {
        height: auto;
    }

    .mo-mb-39 {
        margin-bottom: 20px !important;
    }

    .static-page h2.content-heading {
        font-size: 30px;
    }

    .mob-cal-table .mob-cal-row .mob-cal-cell p.cal-text span {
        width: 86%;
    }

    .ticet-iframe-head li {
        font-size: 16px;
    }

    a.iframe-back {
        font-size: 12px;
    }

    .presale-banner-block p {
        font-size: 1rem;
        letter-spacing: 3px;
    }

    .timer-countdown {
        padding: 20px 0 10px 0;
    }

    .timer-countdown ul li {
        font-size: 0.9rem;
        padding: 0.1rem;
    }

    .timer-countdown ul li span {
        font-size: 3.5rem;
        margin-bottom: 5px;
        line-height: 75px;
    }

    .timer-countdown ul li span.collon {
        top: -45px;
    }

    .presales-block {
        padding: 25px 0 35px 0;
    }

    .btn-block {
        margin-top: 25px !important;
        text-align: center;
    }

    .presales-block .presales-content h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .presales-block .presales-content .presales-inner-content p {
        text-align: center;
        margin-top: 10px;
    }

    .code-txt {
        font-size: 1.5rem;
    }

    .primary-reg-btn, .reg-btn {
        float: none !important;
    }

    .modal-body-content {
        margin-top: 0px;
    }
}

/* Custom Media Query End*/
/* Rebbon css Start*/
.ribbon {
    width: 175px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon label {
    position: absolute;
    display: block;
    width: 225px;
    padding: 6px 0;
    background-color: #e76023;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #e76023;
}

/* top left*/
.ribbon-top-left {
    top: 0;
    left: 0;
}

.ribbon-top-left label {
    right: 4px;
    top: 35px;
    transform: rotate(-38deg);
    /* W3C */
    -webkit-transform: rotate(-38deg);
    /* Safari & Chrome */
    -moz-transform: rotate(-38deg);
    /* Firefox */
    -ms-transform: rotate(-38deg);
    /* Internet Explorer */
    -o-transform: rotate(-38deg);
    /* Opera */
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

/* Rebbon css End*/
