@font-face {
    font-family: 'crimsonbold';
    src: url('fonts/crimson-bold-webfont.eot');
    src: url('fonts/crimson-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/crimson-bold-webfont.woff2') format('woff2'), url('fonts/crimson-bold-webfont.woff') format('woff'), url('fonts/crimson-bold-webfont.ttf') format('truetype'), url('fonts/crimson-bold-webfont.svg#crimsonbold') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'crimsonsemibold';
    src: url('fonts/crimson-semibold-webfont.eot');
    src: url('fonts/crimson-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/crimson-semibold-webfont.woff2') format('woff2'), url('fonts/crimson-semibold-webfont.woff') format('woff'), url('fonts/crimson-semibold-webfont.ttf') format('truetype'), url('fonts/crimson-semibold-webfont.svg#crimsonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('fonts/GillSans-Medium.eot');
    src: url('fonts/GillSans-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/GillSans-Medium.woff2') format('woff2'), url('fonts/GillSans-Medium.woff') format('woff'), url('fonts/GillSans-Medium.ttf') format('truetype'), url('fonts/GillSans-Medium.svg#GillSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('fonts/GillSans.eot');
    src: url('fonts/GillSans.eot?#iefix') format('embedded-opentype'), url('fonts/GillSans.woff2') format('woff2'), url('fonts/GillSans.woff') format('woff'), url('fonts/GillSans.ttf') format('truetype'), url('fonts/GillSans.svg#GillSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
