<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="lib/bootstrap-4.0.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="public/app/css/style.css">
  <title>Harry Potter</title>
</head>

<body>
  <!-- Header Start -->
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-5">
          <a href="/">
            <img src="/public/app/images/logo.png" class="logo" />
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-7">
          <div class="header-menu">
{#             <div class="dropdown lang-dropdown d-none d-sm-block">
            {% set locale = craft.app.locale() %}
              <button class="dropbtn">{{ locale.getDisplayName }}</button>
              <div class="dropdown-content">
                <a href="{{ siteUrl }}en">English</a>
              </div>
            </div> #}
            <h6 class="head-title top-to-bottom ">Hamburg, Deutschland</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header End -->

{% block main %}

{% endblock %}

  <!-- Footer Start-->
  <div class="footer {{ craft.app.request.getQueryParam('live') }}" >
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
          <div class="footer-logo-block">
            {% set footerLogo = craft.entries.section('editableBlocks').slug('footer-logo-block').one() %}
            {{ footerLogo.description}}
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 col-12">
          <ul class="footer-menu">
          	{{ craft.olivemenus.getMenuHTML('footerMenu') }}
            {# <li><a href="/en">English</a> / <a href="/">Deutsch</a></li> #}
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="copyright">
          	{% set trademarksText = craft.entries.section('editableBlocks').slug('trademarks-text').one() %}
            {{ trademarksText.description}}
          	
          	{% set managedbyText = craft.entries.section('editableBlocks').slug('website-managed-by-text').one() %}
				 
            <div class="para-bottom">{{ managedbyText.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
          <p class="bottom-copyright">
          	{% set copyrightText = craft.entries.section('editableBlocks').slug('footer-copyright-text').one() %}
				 {{ copyrightText.description|striptags }}

          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Start-->

  <!-- Modal Start-->
    {% include 'modal' %}
  <!-- Modal End-->
  <!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <!-- <script src="app/js/jquery-3.2.1.slim.min.js"></script> -->
  <script src="/public/app/js/popper.min.js"></script>
  <script src="/public/app/js/bootstrap.min.js"></script>
  <script src="/public/app/js/main.js"></script>
  <script src="/public/app/js/modal.js"></script>

</body>

</html>