
{% extends '_layout' %}

{% block main %}

{% set fromText = craft.entries.section('editableBlocks').slug('from-text-before-banner-counter').one() %}


{% if fromText %}

  <div class="presale-banner-block">
    <div class="container">
      <div class="row">
        <p class="banner-text-block">{{ fromText.description}}</p>
      </div>
    </div>
  </div>
  
{% endif %}

  <!-- Banner Start-->
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          
          {% if entry.bannerImage | length %}

            {% set image = entry.bannerImage.one() %}

              <img src="https://tmharrypotter.objects.frb.io{{ image.getUrl() }}" width="100%" class="d-none d-md-block" />

          {% endif %}
          {% if entry.bannerImageMobile | length %}

            {% set Mimage = entry.bannerImageMobile.one() %}

              <img src="https://tmharrypotter.objects.frb.io{{ Mimage.getUrl() }}" class="d-block d-md-none"/>

          {% endif %}          
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End-->
  <!-- Content Start-->
 {% set availableticketsBlock = craft.entries.section('editableBlocks').slug('verfügbare-tickets').one() %}
  <div class="content bgpattern">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-12">
          <!-- Start Mobile Version Block-->
          <div class="sidebar-block orange-block d-block d-sm-none">
            
            <h4>{{ availableticketsBlock.title|striptags }}</h4>
            {{ availableticketsBlock.description }}
          </div>
          <div class="content-block  d-block d-sm-none">
            {{ entry.scheduleTableForMobile}}
          </div>
          <!-- End Mobile Version Block-->
          <!-- Start Desktop Version Block-->
          <div class="content-block d-none d-sm-block">

            {% if entry.columnBlock %}
            <div class="inner-content-block">
              <div class="row">
                {{ entry.columnBlock }}
              </div>
            </div>
            {% endif %}
          {{ entry.description}}
          </div>
          <div class="content-block nomr">
            {{ entry.kombiTicketSection }}

            {% set kombiTitle = craft.entries.section('editableBlocks').slug('kombi-modal-title').one() %}
            {% set kombiDescription = craft.entries.section('editableBlocks').slug('kombi-modal-description').one() %}
            {% if kombiTitle.description %}
            <div id="kombimodaltitle" style="display:none;">{{ kombiTitle.description }}</div>
            {% endif %}
            {% if kombiDescription.description %}
            <div id="kombimodaldescription" style="display:none;">{{ kombiDescription.description }}</div>
            {% endif %}
            <div class="row">
            {{ entry.individualTicketSection }}
            {% set individualTitle = craft.entries.section('editableBlocks').slug('individual-modal-title').one() %}
            {% set individualDescription = craft.entries.section('editableBlocks').slug('individual-modal-description').one() %}
             {% if individualTitle.description %}
            <div id="individualmodaltitle" style="display:none;">{{ individualTitle.description }}</div>
             {% endif %}
             {% if individualDescription.description %}
            <div id="individualmodaldescription" style="display:none;">{{ individualDescription.description }}</div>
             {% endif %}
            {{ entry.singleTicketSection }}
            {% set singleTitle = craft.entries.section('editableBlocks').slug('single-modal-title').one() %}
            {% set singleDescription = craft.entries.section('editableBlocks').slug('single-modal-description').one() %}
              {% if singleTitle.description %}
            <div id="singlemodaltitle" style="display:none;">{{ singleTitle.description }}</div>
            {% endif %}
            {% if singleDescription.description %}
            <div id="singlemodaldescription" style="display:none;">{{ singleDescription.description }}</div>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 no-mo-pd">
          <div class="sidebar">
            <div class="sidebar-block orange-block d-none d-sm-block">
            <h4>{{ availableticketsBlock.title|striptags }}</h4>
            {{ availableticketsBlock.description }}
            </div>
            <div class="sidebar-block chocolate-block no-mo-mr">

                {% set seatingplanBlock = craft.entries.section('editableBlocks').slug('saalplan').one() %}

              <h4>{{ seatingplanBlock.title }}</h4>
                {{ seatingplanBlock.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Ends-->
{% endblock %}