  <div class="modal custom-modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->
        <!-- Modal body -->
        <div class="modal-body">
          <div class=" d-none d-lg-inline">
            <div class="sidebar-img">
              <img src="https://tmharrypotter.objects.frb.io/assets/600x1200_HP_Hintergrund.jpg" class="bgimage" />
              <img src="https://tmharrypotter.objects.frb.io/assets/hp_grafik-modal.png" class="imglogo" />
            </div>
          </div>
          <div class="modal-right-block">
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close close-btn" id="close-button" data-dismiss="modal"><img src="https://tmharrypotter.objects.frb.io/assets/close-icon.png"
                  class="d-none d-sm-block" />
                <img src="https://tmharrypotter.objects.frb.io/assets/close.png" class="d-sm-none d-block" /></button>
            </div>
            <div class="modal-body-content" id="cal-block">
              <p class="modal-para-text" id="modal-para-txt"></p>
              <div class="modal-calander">
                <div class="cal-heading">
                  <div class="dropdown months-dropdown top-to-bottom">
                    <button class="dropbtn" type="button" data-toggle="dropdown" id="month-value">April 2019<div
                        class="arrow-down"></div></button>
                    <div class="dropdown-menu dropdown-content" id="parent-dropdown">
                      <!--<a href="#">Oktober 2020</a>-->
                      <!-- <a href="javascript:void(0);" class="class-drop-down" data-ticket="" data-date-value="03-2019">Marz 2019</a> -->
                      <a href="javascript:void(0);" class="class-drop-down" data-ticket="" data-date-value="04-2019"
                        data-local-json="/public/sample_json/HPKOMBI.json" data-live-json ="https://app.ticketmaster.eu/mfxapi/v2/events?apikey=3f2vu5BiyL4S96uvhhuRqDDdClwERqrB&domain=germany&tag=HPKOMBI&attraction_ids=987404&rows=250">April 2019</a>
                      <a href="javascript:void(0);" class="class-drop-down" data-ticket="" data-date-value="05-2019"
                        data-local-json="/public/sample_json/HPKOMBI.json" data-live-json ="https://app.ticketmaster.eu/mfxapi/v2/events?apikey=3f2vu5BiyL4S96uvhhuRqDDdClwERqrB&domain=germany&tag=HPKOMBI&attraction_ids=987404&rows=250">May 2019</a>

                    </div>
                  </div>

                  <ul class="cal-sign-icons d-none d-sm-block">
                    <li><i class="circle-icon green-crcl"></i>gute Verfugbarkeit</li>
                    <li><i class="circle-icon yellow-crcl"></i>grobe Nachfrage</li>
                    <li><i class="circle-icon red-crcl"></i>ausverkauft</li>
                  </ul>
                </div>
                <!-- Desktop Calander Module Start -->
                <div class="d-none d-sm-block">
                  <div class="cal-table">
                    <div class="cal-row">
                      <div class="cal-cell cal-head" style="width:12.2%">
                        Montag
                      </div>
                      <div class="cal-cell cal-head" style="width:12.2%">
                        Dienstag
                      </div>
                      <div class="cal-cell cal-head" style="width:12.2%">
                        Mittwoch
                      </div>
                      <div class="cal-cell cal-head" style="width:12.2%">
                        Donnerstag
                      </div>
                      <div class="cal-cell cal-head" style="width:12.2%">
                        Freitag
                      </div>
                      <div class="cal-cell cal-head" style="width:12.2%">
                        Samstag
                      </div>
                      <div class="cal-cell cal-head" style="width:12.2%">
                        Sonntag
                      </div>
                    </div>
                    <div class="cal-row">
                      <div class="cal-cell cal-data stripe-4" id="r1_Montag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r1_Dienstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r1_Mittwoch">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r1_Donnerstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r1_Freitag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r1_Samstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r1_Sonntag">
                        &nbsp;
                      </div>
                    </div>
                    <div class="cal-row">
                      <div class="cal-cell cal-data stripe-4" id="r2_Montag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r2_Dienstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r2_Mittwoch">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r2_Donnerstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r2_Freitag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r2_Samstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r2_Sonntag">
                        &nbsp;
                      </div>
                    </div>
                    <div class="cal-row">
                      <div class="cal-cell cal-data stripe-4" id="r3_Montag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r3_Dienstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r3_Mittwoch">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r3_Donnerstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r3_Freitag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r3_Samstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r3_Sonntag">
                        &nbsp;
                      </div>
                    </div>
                    <div class="cal-row">
                      <div class="cal-cell cal-data stripe-4" id="r4_Montag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r4_Dienstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r4_Mittwoch">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r4_Donnerstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r4_Freitag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r4_Samstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r4_Sonntag">
                        &nbsp;
                      </div>
                    </div>
                    <div class="cal-row">
                      <div class="cal-cell cal-data stripe-4" id="r5_Montag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r5_Dienstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r5_Mittwoch">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r5_Donnerstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r5_Freitag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r5_Samstag">
                        &nbsp;
                      </div>
                      <div class="cal-cell cal-data stripe-4" id="r5_Sonntag">
                        &nbsp;
                      </div>
                    </div>
{#                     <input type="button" value="scroll top" id="scroll-top-btn" class="scroll-btn">
                    <input type="button" value="scroll down" id="scroll-down-btn" class="scroll-btn"> #}
                  </div>
                </div>
                <!-- Desktop Calander Module End -->
                <!-- Mobile Calander Module Start -->
                <div class="mob-cal-table d-sm-none" id="mobile-render">

                </div>
                <!-- Mobile Calander Module Start -->
              </div>
            </div>
            <!--Start Iframe for Booking System -->
            <div class="ticket-iframe" id="ticket-iframe">
              <ul class="ticet-iframe-head">
                <!-- <li class="d-none d-sm-inline ticket-time-first">Donnerstag, 6. Oktober und Freitag 7, Oktober</li>
                <li class="d-inline d-sm-none">Do 06.10 und Fr 0710</li> -->
                <li class="float-right"><a href="javascript:void(0);" class="iframe-back">Datum Andern</a></li>
              </ul>
              <iframe src="javascript:void(0);" class="iframe-ticketmaster" id="iframe-ticketmaster"
                width="100%"></iframe>
              <ul class="ticet-iframe-head bottom-fix">
                <!-- <li class="d-none d-sm-inline ticket-time-first">Donnerstag, 6. Oktober und Freitag 7, Oktober</li>
                <li class="d-inline d-sm-none">Do 06.10 und Fr 0710</li> -->
                <li class="float-right"><a href="javascript:void(0);" class="iframe-back">Datum Andern</a></li>
              </ul>
            </div>
            <!--End Iframe for Booking System -->
          </div>
        </div>
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
      </div>
    </div>
  </div>