
@font-face {
    font-family: 'crimsonbold';
    src: url('crimson-bold-webfont.eot');
    src: url('crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson-bold-webfont.woff2') format('woff2'),
         url('crimson-bold-webfont.woff') format('woff'),
         url('crimson-bold-webfont.ttf') format('truetype'),
         url('crimson-bold-webfont.svg#crimsonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimsonbolditalic';
    src: url('crimson-bolditalic-webfont.eot');
    src: url('crimson-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson-bolditalic-webfont.woff2') format('woff2'),
         url('crimson-bolditalic-webfont.woff') format('woff'),
         url('crimson-bolditalic-webfont.ttf') format('truetype'),
         url('crimson-bolditalic-webfont.svg#crimsonbolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimsonitalic';
    src: url('crimson-italic-webfont.eot');
    src: url('crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson-italic-webfont.woff2') format('woff2'),
         url('crimson-italic-webfont.woff') format('woff'),
         url('crimson-italic-webfont.ttf') format('truetype'),
         url('crimson-italic-webfont.svg#crimsonitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimsonroman';
    src: url('crimson-roman-webfont.eot');
    src: url('crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson-roman-webfont.woff2') format('woff2'),
         url('crimson-roman-webfont.woff') format('woff'),
         url('crimson-roman-webfont.ttf') format('truetype'),
         url('crimson-roman-webfont.svg#crimsonroman') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimsonsemibold';
    src: url('crimson-semibold-webfont.eot');
    src: url('crimson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson-semibold-webfont.woff2') format('woff2'),
         url('crimson-semibold-webfont.woff') format('woff'),
         url('crimson-semibold-webfont.ttf') format('truetype'),
         url('crimson-semibold-webfont.svg#crimsonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimsonsemibolditalic';
    src: url('crimson-semibolditalic-webfont.eot');
    src: url('crimson-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson-semibolditalic-webfont.woff2') format('woff2'),
         url('crimson-semibolditalic-webfont.woff') format('woff'),
         url('crimson-semibolditalic-webfont.ttf') format('truetype'),
         url('crimson-semibolditalic-webfont.svg#crimsonsemibolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Light.eot');
    src: url('GillSans-Light.eot?#iefix') format('embedded-opentype'),
        url('GillSans-Light.woff2') format('woff2'),
        url('GillSans-Light.woff') format('woff'),
        url('GillSans-Light.ttf') format('truetype'),
        url('GillSans-Light.svg#GillSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Bold.eot');
    src: url('GillSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('GillSans-Bold.woff2') format('woff2'),
        url('GillSans-Bold.woff') format('woff'),
        url('GillSans-Bold.ttf') format('truetype'),
        url('GillSans-Bold.svg#GillSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-HeavyItalic.eot');
    src: url('GillSans-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('GillSans-HeavyItalic.woff2') format('woff2'),
        url('GillSans-HeavyItalic.woff') format('woff'),
        url('GillSans-HeavyItalic.ttf') format('truetype'),
        url('GillSans-HeavyItalic.svg#GillSans-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Italic.eot');
    src: url('GillSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('GillSans-Italic.woff2') format('woff2'),
        url('GillSans-Italic.woff') format('woff'),
        url('GillSans-Italic.ttf') format('truetype'),
        url('GillSans-Italic.svg#GillSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-LightItalic.eot');
    src: url('GillSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GillSans-LightItalic.woff2') format('woff2'),
        url('GillSans-LightItalic.woff') format('woff'),
        url('GillSans-LightItalic.ttf') format('truetype'),
        url('GillSans-LightItalic.svg#GillSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Heavy.eot');
    src: url('GillSans-Heavy.eot?#iefix') format('embedded-opentype'),
        url('GillSans-Heavy.woff2') format('woff2'),
        url('GillSans-Heavy.woff') format('woff'),
        url('GillSans-Heavy.ttf') format('truetype'),
        url('GillSans-Heavy.svg#GillSans-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-BoldItalic.eot');
    src: url('GillSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GillSans-BoldItalic.woff2') format('woff2'),
        url('GillSans-BoldItalic.woff') format('woff'),
        url('GillSans-BoldItalic.ttf') format('truetype'),
        url('GillSans-BoldItalic.svg#GillSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-MediumItalic.eot');
    src: url('GillSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GillSans-MediumItalic.woff2') format('woff2'),
        url('GillSans-MediumItalic.woff') format('woff'),
        url('GillSans-MediumItalic.ttf') format('truetype'),
        url('GillSans-MediumItalic.svg#GillSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-Medium.eot');
    src: url('GillSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('GillSans-Medium.woff2') format('woff2'),
        url('GillSans-Medium.woff') format('woff'),
        url('GillSans-Medium.ttf') format('truetype'),
        url('GillSans-Medium.svg#GillSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-CondensedBold.eot');
    src: url('GillSans-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('GillSans-CondensedBold.woff2') format('woff2'),
        url('GillSans-CondensedBold.woff') format('woff'),
        url('GillSans-CondensedBold.ttf') format('truetype'),
        url('GillSans-CondensedBold.svg#GillSans-CondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans.eot');
    src: url('GillSans.eot?#iefix') format('embedded-opentype'),
        url('GillSans.woff2') format('woff2'),
        url('GillSans.woff') format('woff'),
        url('GillSans.ttf') format('truetype'),
        url('GillSans.svg#GillSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-CondensedRegular.eot');
    src: url('GillSans-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('GillSans-CondensedRegular.woff2') format('woff2'),
        url('GillSans-CondensedRegular.woff') format('woff'),
        url('GillSans-CondensedRegular.ttf') format('truetype'),
        url('GillSans-CondensedRegular.svg#GillSans-CondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
} */
